{% if settings.enable_compare_product %}
<a class="compare-button" data-icon-compare href="javascript:void(0)" data-compare-product-handle="{{ product.handle }}" data-id="{{ product.id }}" title="{{ 'compare.general.add_to_compare' | t }}">
    <span class="compare-text" {% if settings.style_product_grid == 'style_product_grid_3' or settings.style_product_grid == 'style_product_grid_4' %} data-change-text-compare{% endif %}>
    	{% if settings.style_product_grid == 'style_product_grid_3' or settings.style_product_grid == 'style_product_grid_4' %}
    		{{ 'compare.general.add_to_compare' | t }}
    	{% else %}
    		{{ 'compare.general.title' | t }}
    	{% endif %}
        {% if settings.style_product_grid == 'style_product_grid_2' %}
        <svg class="icon" viewBox="0 0 1024 1024"><path d="M815.415 818.951c-15.614 0-28.278-12.667-28.278-28.278v-489.739c0-43.452-35.349-78.8-78.8-78.8h-145.669c-15.614 0-28.278-12.667-28.278-28.278s12.667-28.278 28.278-28.278h145.669c74.676 0 135.36 60.684 135.36 135.36v489.739c0 15.614-12.667 28.278-28.278 28.278z"></path><path d="M595.808 309.182c-6.039 0-12.078-2.062-16.938-6.481l-86.606-76.884c-8.395-7.513-13.257-18.265-13.257-29.605s4.861-22.095 13.257-29.605l86.606-77.034c10.458-9.426 26.659-8.395 35.939 2.062s8.395 26.659-2.062 35.939l-77.034 68.49 77.034 68.49c10.458 9.426 11.489 25.481 2.062 35.939-5.008 5.891-11.93 8.69-18.999 8.69z"></path><path d="M447.194 822.045h-145.669c-74.676 0-135.36-60.684-135.36-135.36v-489.885c0-15.614 12.667-28.278 28.278-28.278s28.278 12.667 28.278 28.278v489.739c0 43.452 35.349 78.8 78.8 78.8h145.669c15.614 0 28.278 12.667 28.278 28.278 0 15.76-12.667 28.428-28.278 28.428z"></path><path d="M414.053 904.231c-7.069 0-13.994-2.946-18.999-8.543-9.28-10.458-8.395-26.659 2.062-35.939l77.034-68.49-77.034-68.49c-10.458-9.426-11.489-25.481-2.062-35.939 9.426-10.458 25.481-11.489 35.939-2.062l86.606 76.884c8.395 7.513 13.257 18.265 13.257 29.605s-4.861 22.095-13.257 29.605l-86.606 76.884c-4.861 4.419-11.046 6.481-16.938 6.481z"></path></svg>
        {% endif %}
    </span>
</a>
{% endif %} 