<div class="sidebar-filter" data-has-collapse-no-sidebar>
  <div class="widget_filter" style="display: none;">
    <span class="icon-filter1">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon" viewBox="0 0 24 24"><path d="M19.292 1.871c.169 0 .315.063.439.186a.601.601 0 0 1 .186.439v2.5a.657.657 0 0 1-.039.225.499.499 0 0 1-.117.186l-5.469 6.074v6.641a.582.582 0 0 1-.078.293.823.823 0 0 1-.195.234l-3.75 2.5c-.052.026-.107.049-.166.068a.603.603 0 0 1-.479-.05c-.104-.052-.186-.127-.244-.225s-.088-.205-.088-.322v-9.14L3.823 5.406a.491.491 0 0 1-.117-.186.648.648 0 0 1-.039-.224v-2.5a.6.6 0 0 1 .186-.439.604.604 0 0 1 .439-.186h15zm-.625 2.89v-1.64H4.917v1.641l5.469 6.074a.507.507 0 0 1 .117.186.653.653 0 0 1 .039.225v8.203l2.5-1.66v-6.543c0-.078.013-.152.039-.225a.515.515 0 0 1 .117-.186l5.469-6.075z"></path></svg>
    </span>
    <span class="sidebar_more">
      {{ 'collections.sidebar.sidebar_more' | t }}
    </span>
  </div>      
  {% if section.settings.enable_categories and section.settings.title_categories != blank %}
  <div class="widget sidebar-links">
    {% if section.settings.title_categories != blank %}
    <div class="widget-title">
      <h3 class="sidebar-title">
        {% render 'multilang' with section.settings.title_categories %}
      </h3>
    </div>
    {% endif %}

    <div class="widget-content">
      <div class="scroll-content">
        <ul>
          {% if section.settings.style_categories == 'style_show_all' %}
          {% for category in collections %}
          <li>
            <a href="{{ category.url }}" {% if collection.handle == category.handle %}class="active"{% endif %}>              
              {% render 'multilang' with category.title %}
            </a>
          </li>     
          {% endfor %}

          {% else %}
          {% assign cat_link_list = section.settings.link_list | handleize %}

          {% for link in linklists[cat_link_list].links %}
          <li class="sidebar-link-lv1{% if linklists[link.handle] != empty %} dropdown{% if collection.handle == link.handle %} open{% endif %}{% endif %}">
            <a href="{{ link.url }}" {% if collection.handle == link.handle %}class="active"{% endif %}>
              {% render 'multilang' with link.title %}
            </a>

            {% if linklists[link.handle] != empty %}
            <span class="icon-dropdown">
              <i class="fa fa-angle-down"></i>
            </span>
            {% assign link_child = link.handle %}
            {% render 'dropdown-cat' with link_child as link_child %}
            {% endif %}
          </li>        
          {% endfor %}        
          {% endif %}
        </ul>
      </div>                
    </div>
  </div>
  {% endif %}

  {% for i in (1..10) %}
  
  {% capture enable %}enable_{{ i }}{% endcapture %}
  {% capture title %}title_{{ i }}{% endcapture %}
  {% capture list_tags %}list_tags_{{ i }}{% endcapture %}
  {% assign more_number = 0 %}
  {% assign check = true %}

  {% if block.settings[enable] %}
  <div class="widget sidebar-tags{% if style_color contains block.settings[title] %} filter-color{% endif %}{% if style_size contains block.settings[title] %} filter-size{% endif %}">
    {% assign tags = block.settings[list_tags] | split: ',' %}
    
    {% assign link_clear = canonical_url %}
    {% for t in tags %}
      {% assign tag = t | strip %}
      {% if current_tags contains tag %}
        {% assign list_remove = tag | handleize %}
        {% assign check_first = list_remove | append: '+' %}
        {% assign check_last = '+' | append: list_remove %}
      
        {% if link_clear contains check_first %}
          {% assign link_clear = link_clear | remove: check_first %}
        {% else %}
          {% if link_clear contains check_last %}
            {% assign link_clear = link_clear | remove: check_last %}
          {% else %}
            {% assign link_clear = link_clear | remove: list_remove %}
          {% endif %}
          
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if block.settings[title] != blank %}
    <div class="widget-title">
      <h3 class="sidebar-title">
        {% render 'multilang' with block.settings[title] %}

        <a data-href="{{ link_clear }}" href="javascript:void(0)" class="clear text-hover" style="display:none">
          {{ 'collections.sidebar.clear' | t }}
        </a>
      </h3>
    </div>
    {% endif %}

    <div class="widget-content">
      <div class="scroll-content">
        <ul class="list-tags">
          {% for t in tags %}
          {% assign tag = t | strip %}
          {% assign tag_value = tag | handleize %} 
          {% if collection.tags contains tag %}
              {% assign more_number = more_number | plus: 1 %}
          {% endif %}
          
          {% if style_color contains block.settings[title] %}
          {% if collection.tags contains tag %} 
            <li class="item" {% if more_number > 10 %}style="display: none"{% endif %}>
              <input type="checkbox" value="{{ tag_value }}" {% if current_tags contains tag %}checked{% endif %}/>
              <a data-href=
               {% if current_tags contains tag %}
               {{ tag | link_to_remove_tag: tag | split: "href=" | last | split: '>' | first | split: 'title' | first  }}
               {% else %}
               {{ tag | link_to_add_tag: tag | split: "href=" | last | split: '>' | first | split: 'title' | first  }}
               {% endif %}
                 href="javascript:void(0)" {% if current_tags contains tag %}class="active"{% endif %} title="{{tag}}" style="background-color: {{ tag_value }}; {% if settings.show_product_color_img %}background-image: url({{ tag_value | handle | append: '.png' | file_url }}){% endif %}"></a>
            </li>
          {% endif %}
          {% else %}

            {% if current_tags contains tag %}
            <li class="item" {% if more_number > 10 %}style="display: none"{% endif %}>
              <a data-href={{ tag | link_to_remove_tag: tag | split: "href=" | last | split: '>' | first | split: 'title' | first  }}>
              <input type="checkbox" value="{{ tag_value | split: '|' | first }}" checked/>
              <label>{{ tag | split: '|' | first }}</label>
              </a>
            </li>
            {% else %}
              {% if collection.tags contains tag %}
              <li class="item" {% if more_number > 10 %}style="display: none"{% endif %}>
                <a href="javascript:void(0)" data-href={{ tag | link_to_add_tag: tag | split: "href=" | last | split: '>' | first | split: 'title' | first  }}>
                <input type="checkbox" value="{{ tag_value | split: '|' | first }}"/>
                <label>
                  {{ tag | split: '|' | first }}
                </label>
                </a>
              </li>
              {% endif %}
            {% endif %}
          {% endif %}
          
          {% if more_number == 11 and check %}
          {% assign check = false %}
          <li class="show-more--list_tags">
            <span class="icon">
              <svg id="Solid" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m192 424a23.928 23.928 0 0 1 -16.971-7.029l-144-144a24 24 0 0 1 0-33.942l144-144a24 24 0 0 1 33.942 33.942l-127.03 127.029 127.03 127.029a24 24 0 0 1 -16.971 40.971zm144.971-7.029 144-144a24 24 0 0 0 0-33.942l-144-144a24 24 0 0 0 -33.942 33.942l127.03 127.029-127.03 127.029a24 24 0 0 0 33.942 33.942z"/></svg>
            </span>
            {{ 'general.sidebar.more' | t }}
          </li>
          {% endif %}
          
          {% endfor %}
        </ul>               
      </div>
    </div>
  </div>
  {% endif %}
  
  {% endfor %} 

</div>