{% comment %}
  This snippet includes a custom widget based on the current 'paginate' context,
  defined in { % paginate XXXX by 5 % } tags wrapping the content.
  The example below breaks the pagination down so you can setup your own styles and behavior if you wish.

  Basic Pagination Usage:
    <div class="pagination">
      {{ paginate | default_pagination }}
    </div>

  Replace Text:
    <div class="pagination">
      {{ paginate | default_pagination | replace: 'Previous', 'Newer articles' | replace: 'Next', 'Older articles' }}
    </div>

  More information:
   - index#pagination
   - http://docs.shopify.com/themes/liquid-variables/paginate
{% endcomment %}

{% if settings.collection_infinite_scrolling %}

  {% if settings.category_layout == "supermarket" or template.suffix == 'supermarket' %}
    {% assign current = paginate.current_offset | plus: 1 %}
    {% if paginate.next %}
        {% assign pageSize = paginate.current_offset | plus: paginate.page_size %}
    {% else %}
        {% assign pageSize = paginate.items %}
    {% endif %}
    <div class="page-total">
        <p><span>{{ 'collections.toolbar.showing' | t }} </span><span>{{ current }} - </span><span class="pageSize">{{ pageSize }}</span><span> {{ 'collections.toolbar.of' | t }} </span><span>{{ paginate.items }}</span><span> {{ 'collections.toolbar.total' | t }}</span></p>
        {% assign progressbar_width = pageSize | times: 100 | divided_by: paginate.items %}
    </div>
  {% endif %}

  {% if paginate.next %}    
    <div class="infinite-scrolling">
      <a class="btn" data-href="{{ paginate.next.url }}" tabindex>
        {{ 'collections.general.show_more' | t}}
      </a>
    </div>
  {% else %}
  <div class="infinite-scrolling">
      <a class="btn disabled" href="">
        {{ 'collections.general.no_more_product' | t }}
      </a>
    </div>
  {% endif %}

  {% if settings.category_layout == "skin_1" or template.suffix == 'skin-1' or settings.category_layout == "no_sidebar" or template.suffix == 'no_sidebar' %}
    {% assign current = paginate.current_offset | plus: 1 %}
    {% if paginate.next %}
        {% assign pageSize = paginate.current_offset | plus: paginate.page_size %}
    {% else %}
        {% assign pageSize = paginate.items %}
    {% endif %}
    <div class="page-total">
        <p><span>{{ 'collections.toolbar.show' | t }} </span><span>{{ current }} - </span><span class="pageSize">{{ pageSize }}</span><span> {{ 'collections.toolbar.of' | t }} </span><span>{{ paginate.items }}</span></p>
        {% assign progressbar_width = pageSize | times: 100 | divided_by: paginate.items %}
    </div>
  {% endif %}

{% else %}
<div class="toolbar-bottom">
  <p class="page-total">
    <span>{{ 'collections.toolbar.showing' | t }}</span>: 
    {{ paginate.current_offset | plus: 1 }} -
    {% if paginate.next %}
      {{ paginate.current_offset | plus: paginate.page_size }}
    {% else %}
      {{ paginate.items }}
    {% endif %}
    <span>{{ 'collections.toolbar.of' | t }}</span>
    {{ paginate.items }}
  </p>

  <ul class="pagination-page">
    {% if paginate.previous %}
    <li class="text">
      <a href="{{ paginate.previous.url }}" title="{{ 'collections.toolbar.previous' | t }}" {% if settings.enable_multilang %}data-translate="collections.toolbar.previous" translate-item="title"{% endif %}>
        <i class="fa fa-angle-left" aria-hidden="true"></i>
        <span {% if settings.enable_multilang %}data-translate="collections.toolbar.previous"{% endif %}>
          {{ 'collections.toolbar.previous' | t }}
        </span>
      </a>
    </li>
    {% else %}
    <li class="disabled">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
      <span {% if settings.enable_multilang %}data-translate="collections.toolbar.previous"{% endif %}>
        {{ 'collections.toolbar.previous' | t }}
      </span>
    </li>
    {% endif %}

    {% for part in paginate.parts %}
      {% if part.is_link %}
      <li>
        <a href="{{ part.url }}">{{ part.title }}</a>
      </li>
      {% else %}
        {% if part.title == paginate.current_page %}
        <li class="active"><span>{{ part.title }}</span></li>
        {% else %}
        <li><span>{{ part.title }}</span></li>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if paginate.next %}
    <li class="text">
      <a href="{{ paginate.next.url }}" title="{{ 'collections.toolbar.next' | t }}" {% if settings.enable_multilang %}data-translate="collections.toolbar.next" translate-item="title"{% endif %}>
        <span {% if settings.enable_multilang %}data-translate="collections.toolbar.next"{% endif %}>
        {{ 'collections.toolbar.next' | t }}
        </span>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>
    </li>
    {% else %}
    <li class="disabled">
      <span {% if settings.enable_multilang %}data-translate="collections.toolbar.next"{% endif %}>
        {{ 'collections.toolbar.next' | t }}
      </span>
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </li>
    {% endif %}
  </ul>
</div>
{% endif %}