<div id="shopify-section-product-template-full-width" class="shopify-section col-12">
    <div data-section-id="product-template-full-width" data-section-type="product" id="ProductSection-product-template-full-width" data-enable-history-state="true" data-collections-related="{{ routes.collections_url }}/{{collection.handle}}?view=related">
        <div class="product product-full-width">

            {%- assign current_variant = product.selected_or_first_available_variant -%}
            {% assign variantCount = product.variants | size %}

            <div class="row" data-sticky-container>
                <div class="col-md-6 col-xl-5 product-photos">
                    <div data-sticky-product-img class="product-img-box left-vertical-moreview vertical-moreview" data-moreview-product-fullWdith>
                        <div style="position: relative;" class="wrapper-images">
                            <div class="product-photo-container slider-for" data-imgs="{{ product.media.size }}">
                                {% for media in product.media %}
                                {% case media.media_type %}
                                {% when 'image' %}
                                <div class="thumb" id="variant-img-{{forloop.index }}">
                                    <a {% if section.settings.enable_zoom_image %}data-zoom{% endif %} class="fancybox" rel="gallery1" href="{{ media | img_url: 'master' }}" data-fancybox="images">
                                        <img id="product-featured-image-{{media.id}}" src="{{ media | img_url: 'master' }}" alt="{{ image.alt | escape }}"
                                            class="lazyload"
                                            data-src="{{ media | img_url: 'master' }}"
                                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                            data-aspectratio="{{ media | img_url: 'master' }}"
                                            data-sizes="auto">
                                    </a>

                                    {% if forloop.last == false %}
                                    <a class="scroll-down" data-scrollDown-variantImg data-target="img-{{forloop.index | plus: 1 }}" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" zoomAndPan="disable" x="0px" y="0px" viewBox="0 0 36 18" xml:space="preserve">
                                            <style type="text/css">
                                                .st0{stroke-width:1.5;}
                                            </style>
                                            <line class="st0" x1="36" y1="0" x2="18" y2="18"></line>
                                            <line class="st0" x1="0" y1="0" x2="18" y2="18"></line>
                                        </svg>
                                    </a>
                                    {% endif %}
                                </div>
                                {% when 'external_video' %}
                                <div class="thumb filter-{{ media.alt | handle }}" id="variant-img-{{forloop.index }}">
                                  <div class="product-single__media" style="padding-top: 100%" data-media-id="{{ media.id }}">
                                    {{ media | external_video_tag: image_size: "1024x", loop: true }}
                                  </div>
                                  {% if forloop.last == false %}
                                    <a class="scroll-down" data-scrollDown-variantImg data-target="img-{{forloop.index | plus: 1 }}" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" zoomAndPan="disable" x="0px" y="0px" viewBox="0 0 36 18" xml:space="preserve">
                                            <style type="text/css">
                                                .st0{stroke-width:1.5;}
                                            </style>
                                            <line class="st0" x1="36" y1="0" x2="18" y2="18"></line>
                                            <line class="st0" x1="0" y1="0" x2="18" y2="18"></line>
                                        </svg>
                                    </a>
                                  {% endif %}
                                </div>
                                {% when 'video' %}
                                <div class="thumb" id="variant-img-{{forloop.index }}">
                                  <div class="product-single__media" style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%" data-media-id="{{ media.id }}">
                                    {{ media | video_tag: controls: true, loop: true, image_size: "1024x" }}
                                  </div>
                                  {% if forloop.last == false %}
                                    <a class="scroll-down" data-scrollDown-variantImg data-target="img-{{forloop.index | plus: 1 }}" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" zoomAndPan="disable" x="0px" y="0px" viewBox="0 0 36 18" xml:space="preserve">
                                            <style type="text/css">
                                                .st0{stroke-width:1.5;}
                                            </style>
                                            <line class="st0" x1="36" y1="0" x2="18" y2="18"></line>
                                            <line class="st0" x1="0" y1="0" x2="18" y2="18"></line>
                                        </svg>
                                    </a>
                                  {% endif %}
                                </div>
                                {% when 'model' %}
                                <div class="thum" id="variant-img-{{forloop.index }}">
                                  <div class="product-single__media model-viewer-click" style="padding-top: 100%" data-media-id="{{ media.id }}">
                                    {{ media | model_viewer_tag: image_size: '1024x', 
                                    reveal: 'interaction', 
                                    toggleable: true, 
                                    data-model-id: media.id, 
                                    auto-rotate: true,
                                    id: 'paused-change-demo'
                                    }}
                                  </div>
                                  <div class="shopify-model-viewer-ui__controls-overlay">
                                    <div class="shopify-model-viewer-ui__button shopify-model-viewer-ui__button--poster" aria-label="Play 3D Viewer">
                                      <svg viewBox="0 0 60 60" id="threed-icon-button-control"><path fill="none" d="M0 0h60v60H0z"></path><path fill="currentColor" d="M40.4 22.57l-8.8-5.14a3.19 3.19 0 00-3.21 0l-8.8 5.14A3.24 3.24 0 0018 25.36v10.28a3.23 3.23 0 001.6 2.79l8.8 5.14a3.2 3.2 0 003.21 0l8.8-5.14A3.23 3.23 0 0042 35.64V25.36a3.24 3.24 0 00-1.6-2.79zM20.6 36.7a1.23 1.23 0 01-.6-1.06V25.36a1.23 1.23 0 01.6-1.06l8.8-5.14a1.19 1.19 0 011.19 0l8.8 5.14a1.2 1.2 0 01.36.34l-9.51 4.89a2.23 2.23 0 00-1.25 2V41.6z"></path></svg>
                                    </div>
                                  </div>
                                  {% if forloop.last == false %}
                                    <a class="scroll-down" data-scrollDown-variantImg data-target="img-{{forloop.index | plus: 1 }}" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" zoomAndPan="disable" x="0px" y="0px" viewBox="0 0 36 18" xml:space="preserve">
                                            <style type="text/css">
                                                .st0{stroke-width:1.5;}
                                            </style>
                                            <line class="st0" x1="36" y1="0" x2="18" y2="18"></line>
                                            <line class="st0" x1="0" y1="0" x2="18" y2="18"></line>
                                        </svg>
                                    </a>
                                  {% endif %}
                                </div>
                                
                                {% else %}
                                <div class="thumb filter-{{ media.alt | handle }}" id="variant-img-{{forloop.index }}">
                                  <div class="product-single__media" data-media-id="{{ media.id }}">
                                    {{ media | media_tag }}
                                  </div>
                                  {% if forloop.last == false %}
                                    <a class="scroll-down" data-scrollDown-variantImg data-target="img-{{forloop.index | plus: 1 }}" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" zoomAndPan="disable" x="0px" y="0px" viewBox="0 0 36 18" xml:space="preserve">
                                            <style type="text/css">
                                                .st0{stroke-width:1.5;}
                                            </style>
                                            <line class="st0" x1="36" y1="0" x2="18" y2="18"></line>
                                            <line class="st0" x1="0" y1="0" x2="18" y2="18"></line>
                                        </svg>
                                    </a>
                                  {% endif %}
                                </div>
                                {% endcase %}
                                {% endfor %}
                            </div>
                            {% if enable_compare_color and show_compare_color %}
                                <div class="product-single__compareColor">
                                    <a class="compareColor-link" href="javascript:void(0);" aria-label="link">
                                        {{ settings.compare_color_title }}
                                    </a>
                                </div>
                            {% endif %}
                            {% render 'product-label', product: product, badge_detail: true, serial: 1 %}
                        </div>

                        <div class="margin-nav" data-sticky-2>
                            <div class="slider-nav" data-rows="4" data-vertical="true">
                                {% for media in product.media %}
                                {% case media.media_type %}
                                {% when 'image' %}
                                <div class="item" data-scrollDown-variantImg data-target="img-{{forloop.index }}">
                                    <div class="product-single__media" data-media-id="{{ media.id }}">
                                        <a href="#" data-image="{{ media.src | product_img_url: 'original' }}" data-zoom-image="{{ media.src | product_img_url: 'original' }}">
                                            <img src="{{ media.src | product_img_url: 'compact' }}" alt="{{ media.alt | escape }}">
                                        </a>
                                    </div>
                                </div>
                                {% when 'external_video' %}
                                <div class="item" data-scrollDown-variantImg data-target="img-{{forloop.index }}">
                                  <div class="product-single__media" data-media-id="{{ media.id }}">
                                    <a href="javascript:void(0)" data-image="{{ product.images.first | img_url: '180x' }}" data-zoom-image="{{ product.images.first | img_url: '180x' }}">
                                        <img id="product-featured-image-{{image.id}}" class="product-single__thumbnail-image" src="{{ product.images.first | img_url: '180x' }}" alt="{{ media.alt }}">
                                        <svg viewBox="0 0 200 200" id="icon-video-product">
                                            <circle cx="100" cy="100" r="90" fill="none" stroke-width="8"></circle>
                                            <polygon points="70, 50 70, 145 155, 100"></polygon>
                                        </svg>
                                    </a>
                                  </div>
                                </div>
                                {% when 'video' %}
                                <div class="item" data-scrollDown-variantImg data-target="img-{{forloop.index }}">
                                  <div class="product-single__media" data-media-id="{{ media.id }}">
                                    <a href="javascript:void(0)" data-image="{{ product.images.first | img_url: '180x' }}" data-zoom-image="{{ product.images.first | img_url: '180x' }}">
                                        <img id="product-featured-image-{{image.id}}" class="product-single__thumbnail-image" src="{{ product.images.first | img_url: '180x' }}" alt="{{ media.alt }}">
                                        <svg viewBox="0 0 200 200" id="icon-video-product">
                                            <circle cx="100" cy="100" r="90" fill="none" stroke-width="8"></circle>
                                            <polygon points="70, 50 70, 145 155, 100"></polygon>
                                        </svg>
                                    </a>
                                  </div>
                                </div>
                                {% when 'model' %}
                                <div class="item" data-scrollDown-variantImg data-target="img-{{forloop.index }}">
                                  <div class="product-single__media" data-media-id="{{ media.id }}">
                                    {{ media | model_viewer_tag: image_size: image_size, 
                                    reveal: 'interaction', 
                                    toggleable: true, 
                                    data-model-id: media.id, 
                                    auto-rotate: true
                                    }}
                                  </div>
                                </div>
                                {% else %}
                                <div class="item" data-scrollDown-variantImg data-target="img-{{forloop.index }}">
                                  <div class="product-single__media 4" data-media-id="{{ media.id }}">
                                    {{ media | media_tag }}
                                  </div>
                                </div>
                                {% endcase %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-4 product-shop">
                    <div data-sticky-1>
                        <h1 class="product-title">
                            {% render 'multilang' with product.title %}
                        </h1>

                        {% if section.settings.display_product_reviews or section.settings.show_sold_in %}
                        <div class="group_item">
                            {% if section.settings.display_product_reviews %}
                            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                            {% endif %}

                            {% if section.settings.show_sold_in %}
                            <div data-soldOut-product class="sold_product" data-items="{{ section.settings.item_prd }}" data-hours="{{ section.settings.hours_prs }}">
                                <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="fire" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-fire fa-w-12 fa-2x"><path fill="currentColor" d="M216 24.01c0-23.8-31.16-33.11-44.15-13.04C76.55 158.25 200 238.73 200 288c0 22.06-17.94 40-40 40s-40-17.94-40-40V182.13c0-19.39-21.86-30.76-37.73-19.68C30.75 198.38 0 257.28 0 320c0 105.87 86.13 192 192 192s192-86.13 192-192c0-170.29-168-192.85-168-295.99zM192 464c-79.4 0-144-64.6-144-144 0-28.66 8.56-64.71 24-88v56c0 48.52 39.48 88 88 88s88-39.48 88-88c0-64.27-88-120-64-208 40 88 152 121.77 152 240 0 79.4-64.6 144-144 144z" class=""></path></svg>
                                <span class="items-count">2</span>
                                {% render 'multilang' with section.settings.item_prds %}
                                <span class="hours-num">8</span>
                                {% render 'multilang' with section.settings.item_hours %}
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}

                        {% if section.settings.display_vendor or section.settings.display_availability or section.settings.display_product_sku or section.settings.display_product_type %}
                        <div class="product-infor">
                            {% if section.settings.display_vendor %}
                            <div class="vendor-product">
                                {% if section.settings.text_vendor != blank %}
                                {% if settings.enable_multilang %}
                                <label class="lang1">
                                    {{ section.settings.text_vendor | split: '|' | first }}
                                </label>
                                <label class="lang2">
                                    {{ section.settings.text_vendor | split: '|' | last }}
                                </label>
                                {% else %}
                                <label>
                                    {{ section.settings.text_vendor | split: '|' | first }}
                                </label>
                                {% endif %}
                                {% endif %}
                                <span>
                                  {{ product.vendor | link_to_vendor }}
                                </span>
                            </div>
                            {% endif %}

                            {% if section.settings.display_product_sku %}
                            <div class="sku-product">
                                {% if section.settings.text_product_sku != blank %}
                                {% if settings.enable_multilang %}
                                <label class="lang1">
                                    {{ section.settings.text_product_sku | split: '|' | first }}
                                </label>
                                <label class="lang2">
                                    {{ section.settings.text_product_sku | split: '|' | last }}
                                </label>
                                {% else %}
                                <label>
                                    {{ section.settings.text_product_sku | split: '|' | first }}
                                </label>
                                {% endif %}
                                {% endif %}
                                <span>{{ current_variant.sku }}</span>
                            </div>
                            {% endif %}

                            {% if section.settings.display_availability %}
                            <div class="product-inventory">
                                {% if section.settings.text_availability != blank %}
                                <label>
                                    {{ section.settings.text_availability | split: '|' | first }}
                                </label>
                                {% endif %}
                                <span>
                                {% if current_variant.inventory_management %}
                                {% assign first_inventory = current_variant.inventory_quantity %}
                                {% if first_inventory > 0 %}
                                {{first_inventory}} {{ 'products.product.in_stock' | t }}
                                {% else %}
                                {{ 'products.product.out_of_stock' | t }}
                                {% endif %}
                                {% else %}
                                {{ 'products.product.many_in_stock' | t }}
                                {% endif %}
                                </span>
                            </div>
                            {% endif %}

                            {% if section.settings.display_product_type %}
                            <div class="product-type">
                                {% if section.settings.text_product_type != blank %}
                                {% if settings.enable_multilang %}
                                <label class="lang1">
                                    {{ section.settings.text_product_type | split: '|' | first }}
                                </label>
                                <label class="lang2">
                                    {{ section.settings.text_product_type | split: '|' | last }}
                                </label>
                                {% else %}
                                <label>
                                    {{ section.settings.text_product_type | split: '|' | first }}
                                </label>
                                {% endif %}
                                {% endif %}
                                {% if settings.enable_multilang %}
                                <span class="lang1">
                                  {{ product.type | split: '|' | first }}
                                </span>
                                <span class="lang2">
                                  {{ product.type| split: '|' | last }}
                                </span>
                                {% else %}
                                <span>
                                  {{ product.type | split: '|' | first }}
                                </span>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}

                      	{% if section.settings.enable_countdown %}
                      	
                        {% if section.settings.option_countdown == 'all_product' %}
                        {% assign count_down_final = section.settings.count_down_timer %}
                        {% if section.settings.countdown == 'countdown_1' %}
                        <div class="countdown">
                          {% render 'multilang' with section.settings.text_countdown %}
                          <div class="countdown-item" data-countdown-normal data-countdown-value="{{ count_down_final }}"></div>
                        </div>

                        {% else %}
                        {% render 'countdown-progressbar', count_down_final: count_down_final %}
                        {% endif %}

                        {% else %}

                           {% if product.metafields.c_f.countdown %}
                            {% capture count_down_final %}{{ product.metafields.c_f.countdown }}{% endcapture %}

                            {% if section.settings.countdown == 'countdown_1' %}
                            <div class="countdown">
                                {% render 'multilang' with section.settings.text_countdown %}
                                <div class="countdown-item" data-countdown-normal data-countdown-value="{{ count_down_final }}"></div>
                            </div>
                            {% else %}
                            {% render 'countdown-progressbar', count_down_final: count_down_final %}
                            {% endif %}

                          {% endif %}
                        {% endif %}
                      
                      	

                        {% if section.settings.custombox_text != blank %}
                        <div class="product-custombox hide-for-small-only">
                          {% if section.settings.custombox_text contains '[lang2]' %}
                          <span class="rte lang1">
                            {{ section.settings.custombox_text | split: '[lang2]' | first }}
                          </span>
                          <span class="rte lang2">
                            {{ section.settings.custombox_text| split: '[lang2]' | last }}
                          </span>
                          {% else %}
                          <span class="rte">
                            {{ section.settings.custombox_text | split: '[lang2]' | first }}
                          </span>
                          {% endif %}
                        </div>
                        {% endif %}
                      
                      	{% endif %}

                        <div class="prices">
                            {% if product.compare_at_price > product.price %}
                            <span class="compare-price">
                                {{ product.compare_at_price_max | money }}
                            </span>
                            <span class="price on-sale" itemprop="price">
                                {{ product.price | money }}
                            </span>
                            {% else %}
                            <span class="price" itemprop="price">
                                {{ product.price | money }}
                            </span>
                            {% endif %}
                          	<input type="hidden" id="product_regular_price" name="product_regular_price" value="{{ product.price }}">
                        </div>

                        {% if product.description contains '[countdown]' %}
                            {% assign des = product.description | split:'[/countdown]' | last %}
                            {% if des contains '[custom tab]'%}
                                {% assign des = des | split:'[custom tab]' | first | split:'<iframe' | first %}
                            {% endif %}
                        {% else %}
                            {% assign des = product.description %}
                            {% if des contains '[custom tab]'%}
                                {% assign des = des | split:'[custom tab]' | first | split:'<iframe' | first %}
                            {% endif %}
                        {% endif %}

                        {% if section.settings.show_desc == 'short' %}

                        {% if product.metafields.c_f.short_description %}
                        {% assign des = product.metafields.c_f.short_description %}
                        {% assign word_numbeer = 1000000000 %}
                      
                      	{% if settings.enable_multilang and des contains '[lang2]' %}
                        <div class="short-description">
                            <div class="lang1">
                                {{ des | split: '[lang2]' | first | replace: '&nbsp;', ' ' | truncatewords: word_numbeer }}
                            </div>
                            <div class="lang2">
                                {{ des | split: '[lang2]' | last | replace: '&nbsp;', ' ' | truncatewords: word_numbeer }}
                            </div>
                        </div>
                        {% else %}
                        <div class="short-description">
                            {{ des | split: '[lang2]' | first | replace: '&nbsp;', ' ' | truncatewords: word_numbeer }}
                        </div>
                        {% endif %}
                      
                        {% else %}
                        {% assign word_numbeer = 50 %}
                      
                      	{% if settings.enable_multilang and des contains '[lang2]' %}
                        <div class="short-description">
                            <div class="lang1">
                                {{ des | split: '[lang2]' | first | strip_html | replace: '&nbsp;', ' ' | truncatewords: word_numbeer }}
                            </div>
                            <div class="lang2">
                                {{ des | split: '[lang2]' | last | strip_html | replace: '&nbsp;', ' ' | truncatewords: word_numbeer }}
                            </div>
                        </div>
                        {% else %}
                        <div class="short-description">
                            {{ des | split: '[lang2]' | first | strip_html | replace: '&nbsp;', ' ' | truncatewords: word_numbeer }}
                        </div>
                        {% endif %}
                      
                        {% endif %}

                        {% elsif section.settings.show_desc == 'full' %}
                        {% if settings.enable_multilang and des contains '[lang2]' %}
                        <div class="short-description">
                            <div class="lang1">
                                {{ des | split: '[lang2]' | first }}
                            </div>
                            <div class="lang2">
                                {{ des | split: '[lang2]' | last }}
                            </div>
                        </div>
                        {% else %}
                        <div class="short-description">
                            {{ des | split: '[lang2]' | first }}
                        </div>
                        {% endif %}
                        {% endif %}

                        {% form 'product', product, id: "add-to-cart-form", novalidate: 'novalidate' %}

                        {% if settings.display_size_chart %}
                        <a data-toggle="modal" data-target="#size_chart" class="size-chart-open-popup">
                          {% render 'multilang' with settings.size_guide_text %}
                        </a>
                        {% endif %}
                      
                        <div id="product-variants">
                            {% if variantCount > 0  and product.variants[0].title != 'Default Title'  %}
                            <select id="product-selectors" name="id" style="display: none;">
                                {% for variant in product.variants %}
                                {% if variant.available %}
                                <option data-imge="{% if variant.image.size != blank %}{{ variant.image.src | product_img_url: 'compact' }}{% else  %}{{ product.featured_image.src | product_img_url: 'compact' }}{% endif %}" {% if variant == current_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                                    {{ variant.title }}
                                </option>
                                {% else %}
                                <option disabled="disabled">
                                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>

                            {% if settings.use_color_swatch %}
                            {% for option in product.options %}
                            {% render 'swatch' with option %}
                            {% endfor %}
                            {% endif %}

                            {% else %}
                            <input type="hidden" name="id" value="{{ product.variants[0].id }}" />
                            {% endif %}

                            {% if enable_hot_stock and product.variants.size > 0 and product.variants.first.title != 'Default Title' %}
                            {% assign max_stock = section.settings.number_stock | plus: 0 %}
                            <div class="hot_stock" data-stock-hot data-value="{{max_stock}}">
                                {% if current_variant.inventory_management %}
                                    {% if current_variant.inventory_quantity > 0 and current_variant.inventory_quantity <= max_stock %}
                                    {{ "products.product.stock_hot" | t | replace: '[inventory]', current_variant.inventory_quantity }}
                                    {% endif %}
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>

                        {% if product.available and section.settings.display_qty %}
                        <div class="quantity">
                            <label for="quantity" {% if settings.enable_multilang %}data-translate="cart.label.quantity"{%endif%}>
                                {{ 'cart.label.quantity' | t }}:
                            </label>
                            <div class="qty-group">
                                <a href="#" data-minus-qtt class="minus button"></a>
                                <input type="number" data-qtt-id="quantity__{{ product.id }}" name="quantity" value="1" inputmode="numeric" pattern="[0-9]*">
                                <a href="#" data-plus-qtt class="plus button"></a>
                            </div>
                        </div>
                        {% endif %}

                        {% if section.settings.display_subtotal and product.available and section.settings.display_qty %}
                        <div class="total-price">
                            <label {% if settings.enable_multilang %}data-translate="cart.general.subtotal"{%endif%}>
                                {{ 'cart.general.subtotal' | t }}:
                            </label>
                            <span class="total-money">
                                {{ current_variant.price | money }}
                            </span>
                        </div>
                        {% endif %}

                        {% if settings.enable_checkbox %}

                        <div class="groups-btn">
                            <div class="groups-btn-tree {% if section.settings.display_product_detail_share or settings.enable_wishlist %}margin-button{% endif %}">
                              {% if current_variant.available %}

                              {% if current_variant.inventory_management %}
                              {% assign first_inventory = current_variant.inventory_quantity %}

                              {% if first_inventory > 0 %}
                              <input data-btn-addToCart type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{%endif%} id="product-add-to-cart" value="{{ 'products.product.add_to_cart' | t }}" data-form-id="#add-to-cart-form">
                              {% else %}
                              <input data-btn-addToCart type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.pre_order"{%endif%} id="product-add-to-cart" value="{{ 'products.product.pre_order' | t }}" data-form-id="#add-to-cart-form">
                              {% endif %}

                              {% else %}
                              <input data-btn-addToCart type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{%endif%} id="product-add-to-cart" value="{{ 'products.product.add_to_cart' | t }}" data-form-id="#add-to-cart-form">
                              {% endif %}

                              {% else %}
                              <input type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.unavailable"{%endif%} id="product-add-to-cart" disabled value="{{ 'products.product.unavailable' | t }}" >
                              {% endif %}

                              {% render 'wishlist-product' %}

                              {% if section.settings.display_product_detail_share %}
                                <a class="icon-share" href="javascript:void(0)" aria-label="{{ 'products.product.share' | t }}" {% if settings.enable_multilang %}data-translate="products.product.share"{%endif%}>{% render 'icon-share' %}</a>
                              {% endif %}
                            </div>
                            <div class="checkbox-group">
                                <input class="conditions" type="checkbox" name="conditions">
                                <label class="title" for="conditions">
                                  {{settings.checkbox_text}}
                                </label>
                                {% if settings.terms_conditions_text_link != blank %}
                                <a data-toggle="modal" data-target="#terms_condition_modal" href="javascript:void(0)" aria-label="link" aria-describedby="a11y-external-message">
                                  {{ settings.terms_conditions_text_link }}
                                </a>
                                {% endif %}
                            </div>
                            <div class="btn-checkout show"> 
                                {% if section.settings.enable_payment_button and current_variant.available %}
                                {{ form | payment_button }}
                                {% endif %}
                            </div>
                            <div class="wrapper-social-popup">
                              <div class="title-close">
                                <p class="social-title">{{ 'products.product.copy_link' | t }}</p>
                                {% render 'icon-close' %}
                              </div>
                              <div class="social-garment-link" role="button" tabindex="-1"><input type="text" value="{{ canonical_url }}" class="txt_copy" readonly="readonly"></div>
                              {% if section.settings.display_product_detail_share %}
                                {% render 'share' with product %}
                              {% endif %}
                            </div>
                        </div>
                        {% else %}
                        <div class="groups-btn">
                            <div class="groups-btn-tree {% if section.settings.display_product_detail_share or settings.enable_wishlist %}margin-button{% endif %}"> 
                              {% if current_variant.available %}

                              {% if current_variant.inventory_management %}
                              {% assign first_inventory = current_variant.inventory_quantity %}

                              {% if first_inventory > 0 %}
                              <input data-btn-addToCart type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{%endif%} id="product-add-to-cart" value="{{ 'products.product.add_to_cart' | t }}" data-form-id="#add-to-cart-form">
                              {% else %}
                              <input data-btn-addToCart type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.pre_order"{%endif%} id="product-add-to-cart" value="{{ 'products.product.pre_order' | t }}" data-form-id="#add-to-cart-form">
                              {% endif %}
                              {% else %}
                              <input data-btn-addToCart type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{%endif%} id="product-add-to-cart" value="{{ 'products.product.add_to_cart' | t }}" data-form-id="#add-to-cart-form">
                              {% endif %}

                              {% else %}
                              <input type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.unavailable"{%endif%} id="product-add-to-cart" disabled value="{{ 'products.product.unavailable' | t }}" >
                              {% endif %}

                              {% render 'wishlist-product' %}

                              {% if section.settings.display_product_detail_share %}
                                <a class="icon-share" href="javascript:void(0)">{% render 'icon-share' %}</a>
                              {% endif %}
                              
                            </div>

                            {% if section.settings.enable_payment_button and current_variant.available %}
                                {{ form | payment_button }}
                            {% endif %}
                            
                            <div class="wrapper-social-popup">
                              <div class="title-close">
                                <p class="social-title">{{ 'products.product.copy_link' | t }}</p>
                                {% render 'icon-close' %}
                              </div>
                              <div class="social-garment-link" role="button" tabindex="-1"><input type="text" value="{{ canonical_url }}" class="txt_copy" readonly="readonly"></div>
                              {% if section.settings.display_product_detail_share %}
                                {% render 'share' with product %}
                              {% endif %}
                            </div>
                        </div>
                        {% endif %}

                        {% render 'nofify-sold-out', product: product, variantCount: variantCount, current_variant: current_variant %}
                        
                        {% endform %}

                        {% if section.settings.dpl_customers_view %}
                        <div id="customers_view" data-customer-view="{{ section.settings.number_view }}">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <label>{{ section.settings.number_view | split: ',' | slice: 0 }}</label> {% render 'multilang' with section.settings.title_view %}
                        </div>
                        {% endif %}

                        {% if section.settings.display_product_detail_tag %}
                        <div class="tags">
                          <strong class="icon-tags" {% if settings.enable_multilang %}data-translate="blogs.article.tags"{%endif%}>{{ 'blogs.article.tags' | t }}:</strong>
                          {% for tag in product.tags %}
                          <span class="separator">/</span>
                          <a href="/collections/all/?constraint={{ tag | handle }}" rel="tag">
                            {% if settings.enable_multilang %}
                            <span class="lang1">{{ tag | split: '|' | first }}</span>
                            <span class="lang2">{{ tag | split: '|' | last }}</span>
                            {% else %}
                            <span>{{ tag | split: '|' | first }}</span>
                            {% endif %}
                          </a>
                          {% endfor %}
                        </div>
                        {% endif %}

                        {% if section.settings.display_trust_img and settings.img_trust != blank %}
                        <div class="secure-shopping-guarantee">
                            <img src="{{ settings.img_trust | img_url: '800x'  }}">
                        </div>
                        {% endif %}

                        <div
                          id="store_availability" class="product-single__store-availability-container"
                          data-store-availability-container
                          data-product-title="{{ product.title | escape }}"
                          data-has-only-default-variant="{{ product.has_only_default_variant }}"
                          data-base-url="{{ shop.url }}{{ routes.root_url }}"
                        >
                        </div>

                        {% render 'tab-vertical' %}
                    </div>
                </div>

                {% assign blocks = section.blocks | where: 'type', 'recommend' %}
                {% assign block = blocks[0] %}

                {% if block.settings.display_related_products %}
                <div class="col-12 col-xl-3 relate-verticle">
                    <div data-sticky-3>
                        {% render 'related-products', block: block, product: product %}
                    </div>
                </div>
                {% endif %}
            </div>

            {% if section.settings.dpl_grouped_product %}
                {% render 'grouped-block-2' %}
            {% endif %}
        </div>
    </div>
</div>

{{ 'option_selection.js' | shopify_asset_url | script_tag }}

{% unless product == empty %}
<script>
    function updateContent(variantId) {
        var container = $('#store_availability')[0];
        var variantSectionUrl =
        container.dataset.baseUrl +
        'variants/' +
        variantId + 
        '/?section_id=store-availability';
        $.ajax({
          type: "get",
          url: variantSectionUrl,
          success: function(data) {
            if ($(data).find('.store-availability-container').html() != '') {
              $('#store_availability').html(data);
                var title = $('#store_availability').data('product-title');
              $('[data-store-availability-modal-product-title]').text(title);
            }
          }
        });
    };
var buttonSlt = '[data-minus-qtt], [data-plus-qtt]',
    buttonElm = $(buttonSlt);

$(document).on('click', buttonSlt, function(e) {
    e.preventDefault();
    e.stopPropagation();

    var self = $(this),
        input = $('.quantity input[name="quantity"]').not('.item-quantity').not('.custom-input-quantity'),
        oldVal = parseInt(input.val()),
        newVal = 1;

    switch (true) {
        case (self.hasClass('plus')): {
            newVal = oldVal + 1;
            break;
        }
        case (self.hasClass('minus') && oldVal > 1): {
            newVal = oldVal - 1;
            break;
        }
    }

    input.val(newVal);
    updatePricing();

});
    {% if section.settings.display_subtotal and product.available and section.settings.display_qty %}
    function updatePricing() {
      var quantity = parseInt($('[data-qtt-id]').val());
      var p = $('.product #product_regular_price').val();
      var totalPrice1 = p * quantity;
      var g = Shopify.formatMoney(totalPrice1, window.money_format);
      $('.product .total-price span').html(g);

      {% if settings.enable_multiple_currencies %}
      Currency.convertAll(window.shop_currency, $('#currencies .active').attr('data-currency'), 'span.money', 'money_format');
      {% else %}
      {% if settings.enable_auto_currency %}
      Currency.convertAll(window.shop_currency, $('#currencies .active').attr('data-currency'), 'span.money', 'money_format');
      {% endif %}
      {% endif %}
    };

    $('[data-qtt-id]').on('change', updatePricing);


    {% endif %}
  
    var inven_array = {
      {% for variant in product.variants %}
      "{{variant.id}}":"{{variant.inventory_quantity}}",
      {%endfor%}
    };
    var inven_num = '';

    var selectCallback = function(variant, selector) {
        var addToCartBtn = $('#product-add-to-cart'),
            productPrice = $('.product .price'),
            comparePrice = $('.product .compare-price'),
            productInventory = $('.product-inventory'),
            productSku = $('.product .sku-product'),
            labelSave = $('.product-photos .sale-label'),
            max_stock = $('[data-stock-hot]').data('value');

        if(variant) {
            // addToCartbtn
            if (variant.available) {
                if (variant.inventory_management!=null) {
                  for( variant_id in inven_array){
                    if(variant.id == variant_id ){
                      inven_num = inven_array[variant_id];
                      var inventoryQuantity = parseInt(inven_num);
                    }
                  }
                  // Hot stock
                  if(inventoryQuantity > 0 && inventoryQuantity <= max_stock){
                      var text_stock = window.inventory_text.hotStock.replace('[inventory]', inventoryQuantity);
                      $('[data-stock-hot]').text(text_stock).show();
                      productInventory.find('span').text(inventoryQuantity + ' ' + window.inventory_text.in_stock);
                  }else if (inventoryQuantity > 0) {
                      productInventory.find('span').text(inventoryQuantity + ' ' + window.inventory_text.in_stock);
                      $('[data-stock-hot]').hide();
                  } else{
                    productInventory.find('span').text(window.inventory_text.out_of_stock);
                    $('[data-stock-hot]').hide();
                  }
                  // Button Text
                  if(inventoryQuantity > 0){
                    // We have a valid product variant, so enable the submit button
                    addToCartBtn.removeClass('disabled').removeAttr('disabled').val(window.inventory_text.add_to_cart);
                    $('.groups-btn').removeClass('remove');
                  }else{
                    addToCartBtn.removeClass('disabled').removeAttr('disabled').val(window.inventory_text.pre_order);
                    $('.groups-btn').addClass('remove');
                  }
                } else {
                  
                  addToCartBtn.removeClass('disabled').removeAttr('disabled').val(window.inventory_text.add_to_cart);
                }
                $('[data-form-notify]').slideUp();
                $('[data-soldOut-product]').show();
            }
            else {
                $('[data-soldOut-product]').hide();
                addToCartBtn.val(window.inventory_text.sold_out).addClass('disabled').attr('disabled', 'disabled');
                $('[data-stock-hot]').hide();
                $('[data-form-notify]').slideDown();
                var url = window.location.href.split('?variant')[0];
                $('[data-value-email]').val(url + '?variant=' + variant.id);
                productInventory.find('span').text(window.inventory_text.out_of_stock);
                $('[data-stock-hot]').hide();
            };

            // Prices
            $('.product-template .swatch').each(function(){
              $(this).find('[data-option-select]').text($(this).find('input:checked').val());
            })
            $('.product #product_regular_price').val(variant.price);
            productPrice.html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));

            if(variant.compare_at_price > variant.price) {
                productPrice.addClass("on-sale");
                comparePrice
                    .html(Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}"))
                    .show();
               {% unless settings.type_label_sale == 'label_sale' %}
               labelSave.html('-' + Math.floor((variant.compare_at_price - variant.price) * 100 / variant.compare_at_price) + '%').show();
               {% endunless %}
            }
            else {
                comparePrice.hide();
                productPrice.removeClass("on-sale");
                {% unless settings.type_label_sale == 'label_sale' %}
                labelSave.hide();
                {% endunless %}
            };

            {% if section.settings.display_subtotal and product.available and section.settings.display_qty %}
            updatePricing();
            {% endif %}

            {% if settings.enable_multiple_currencies %}
                Currency.convertAll(window.shop_currency, $('#currencies .active').attr('data-currency'), 'span.money', 'money_format');
            {% endif %}

            var form = $('#' + selector.domIdPrefix).closest('form');

            for (var i=0,length=variant.options.length; i<length; i++) {
                var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');

                if (radioButton.size()) {
                radioButton.get(0).checked = true;
                }
            };

            $('.product-template .swatch').each(function(){
              $(this).find('[data-option-select]').text($(this).find('input:checked').val());
            })
        }
        else {
            addToCartBtn.val(window.inventory_text.sold_out).addClass('disabled').attr('disabled', 'disabled');
        };

        {% if section.settings.display_product_sku %}
        if (variant) {
            productSku.find('span').text(variant.sku);
        }
        else {
            productSku.find('span').empty();
        }
        {% endif %}

        updateContent(variant.id);

        /*begin variant image*/
        $(document).ready(function(){
          if (variant && variant.featured_image) {
            var originalImage = $("img[id|='product-featured-image']");
            var newImage = variant.featured_image;
            var element = originalImage[0];

            Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
              jQuery('.slider-nav img').each(function() {
                var grandSize = $(this).attr('src').split('?')[0];

                newImageSizedSrc = newImageSizedSrc.split('?')[0].replace('https:','').replace('http:','');;

                grandSize = grandSize.replace('_compact','');

                if (grandSize == newImageSizedSrc) {
                  $(this).closest('.item').trigger('click');
                  return false;
                }
              });
            });
          };
        });
    };

    $(function($) {
          if($('#product-selectors').length > 0){
            new Shopify.OptionSelectors('product-selectors', {
                product: {{ product | json }},
                onVariantSelected: selectCallback,
                enableHistoryState: true
            });

          }

        Shopify.linkOptionSelectors({{ product | json }}, '.product');

        {% if product.options.size == 1 and product.options.first != 'Title' %}
            $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
        {% elsif product.options.size > 1 %}
            $('.selector-wrapper').append('<span class="icon-dropdown"><i class="fa fa-angle-down"></i></span>');
        {% endif %}

        $('.product-shop .selector-wrapper label').append('<em>*</em>');

        {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
            $('.selector-wrapper').hide();
        {% endif %}

        {% if section.settings.countdown == 'countdown_2' and section.settings.enable_countdown %}
        function randomIntFromInterval(min, max) {
            return Math.floor(Math.random() * (max - min + 1) + min);
        }

        var total_items = {% if section.settings.total_items != blank %}{{ section.settings.total_items }}{% else %}0{% endif %} || 60,
            min_items_left = {% if section.settings.min_items_left != blank %}{{ section.settings.min_items_left }}{% else %}0{% endif %} || 8,
            max_items_left = {% if section.settings.max_items_left != blank %}{{ section.settings.max_items_left }}{% else %}0{% endif %} || 30,
            rest_items = randomIntFromInterval(min_items_left, max_items_left),
            timer = null,
            timerInterval = null;

        function initProgressbar(rest_items) {
            var progressbar = $('.progressbar');
            var count = progressbar.find('.count');

            count.text(rest_items);
            updateMeter(rest_items);

            timer = setTimeout(function() {
                rest_items--;

                if (rest_items < 1) {
                rest_items = randomIntFromInterval(min_items_left, max_items_left)
                };

                count.text(rest_items);
                updateMeter(rest_items);
            }, 1000 * 60 * 0.17);

            timerInterval = setInterval(function() {
                rest_items--;

                if (rest_items < 1) {
                rest_items = randomIntFromInterval(min_items_left, max_items_left)
                }
                count.text(rest_items);
                updateMeter(rest_items)
            }, 1000 * 60 * 1.7)
        };

        function updateMeter(rest_items) {
            var percent = 100 * rest_items / total_items;

            if (rest_items >= min_items_left) {
                setTimeout(function() {
                    $('#progressbar span').css('width', percent + '%');
                }, 300);
            }
        };

        initProgressbar(rest_items);
        {% endif %}

        // Add Data Countdown Sticky
        {% if section.settings.option_countdown == 'all_product' %}
          $('[data-sticky-add-to-cart] .countdown-item').attr('data-countdown-value','{{section.settings.count_down_timer}}');
        {% else %}
          var countdown_different = $('.product-shop .countdown-item').data('countdown-value');
          console.log(countdown_different);
          $('[data-sticky-add-to-cart] .countdown-item').attr('data-countdown-value',countdown_different);
        {% endif %}

    });

    var initProductFullWidthMoreview = function() {
        var productMoreview = $('[data-moreview-product-fullWdith]'),
            sliderFor = productMoreview.find('.slider-for'),
            sliderNav = productMoreview.find('.slider-nav'),
            vertical = sliderNav.data('vertical');

        if(sliderFor.not('.slick-initialized')) {
            sliderFor.slick({
                slidesToShow: sliderFor.data('imgs'),
                slidesToScroll: 1,
                arrows: false,
                vertical: true,
                fade: false,
                asNavFor: sliderNav,
                responsive: [
                    {
                        breakpoint: 1200,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            fade: true,
                            vertical: false
                        }
                    }
                ]
            });


            sliderNav.slick({
                infinite: true,
                slidesToShow: sliderNav.data('rows'),
                vertical: vertical,
                dots: false,
                slidesToScroll: 1,
                asNavFor: sliderFor,
                focusOnSelect: true,
                get nextArrow() {
                    if ((window.layout_style == 'layout_style_1170') || (window.layout_style == 'layout_style_flower')) {
                        return this.nextArrow = '<button type="button" aria-label="Next" class="slick-next"><svg viewBox="0 0 50 50"><path d="M 11.957031 13.988281 C 11.699219 14.003906 11.457031 14.117188 11.28125 14.308594 L 1.015625 25 L 11.28125 35.691406 C 11.527344 35.953125 11.894531 36.0625 12.242188 35.976563 C 12.589844 35.890625 12.867188 35.625 12.964844 35.28125 C 13.066406 34.933594 12.972656 34.5625 12.71875 34.308594 L 4.746094 26 L 48 26 C 48.359375 26.003906 48.695313 25.816406 48.878906 25.503906 C 49.058594 25.191406 49.058594 24.808594 48.878906 24.496094 C 48.695313 24.183594 48.359375 23.996094 48 24 L 4.746094 24 L 12.71875 15.691406 C 13.011719 15.398438 13.09375 14.957031 12.921875 14.582031 C 12.753906 14.203125 12.371094 13.96875 11.957031 13.988281 Z"></path></svg></button>';
                    } else {
                        return this.nextArrow = '<button type="button" aria-label="Next" class="slick-next"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 17 33" xml:space="preserve"><g id="e4eb89a6-f885-43b8-9259-0d6b1516fab0"><g id="_x38_e584754-6657-46f1-a9d8-2cfd6623b552"><g><polygon points="14.9,14.5 0,0 0,3.7 11.1,14.5 13.2,16.5 11.1,18.5 0,29.3 0,33 14.9,18.5 17,16.5 "/></g></g></g></svg></button>';
                    }
                },
                get prevArrow() {
                    if ((window.layout_style == 'layout_style_1170') || (window.layout_style == 'layout_style_flower')) {
                        return this.prevArrow = '<button type="button" aria-label="Previous" class="slick-prev"><svg viewBox="0 0 50 50"><path d="M 11.957031 13.988281 C 11.699219 14.003906 11.457031 14.117188 11.28125 14.308594 L 1.015625 25 L 11.28125 35.691406 C 11.527344 35.953125 11.894531 36.0625 12.242188 35.976563 C 12.589844 35.890625 12.867188 35.625 12.964844 35.28125 C 13.066406 34.933594 12.972656 34.5625 12.71875 34.308594 L 4.746094 26 L 48 26 C 48.359375 26.003906 48.695313 25.816406 48.878906 25.503906 C 49.058594 25.191406 49.058594 24.808594 48.878906 24.496094 C 48.695313 24.183594 48.359375 23.996094 48 24 L 4.746094 24 L 12.71875 15.691406 C 13.011719 15.398438 13.09375 14.957031 12.921875 14.582031 C 12.753906 14.203125 12.371094 13.96875 11.957031 13.988281 Z"></path></svg></button>';
                    } else {
                        return this.prevArrow = '<button type="button" aria-label="Previous" class="slick-prev"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 33"><g id="7f9a1925-e8c7-4614-8787-3c6095a9f6e1" data-name="Layer 2"><g id="c9b7920a-81fa-4bfe-ad13-4da717c6854b" data-name="Layer 1"><g id="c2d982ff-0cf6-4220-b365-47f30d708fea" data-name="e4eb89a6-f885-43b8-9259-0d6b1516fab0"><g id="f51d455e-6b9c-4c4e-96db-a5004582beda" data-name="8e584754-6657-46f1-a9d8-2cfd6623b552"><polygon points="0 16.5 2.1 18.5 17 33 17 29.3 5.9 18.5 3.8 16.5 5.9 14.5 17 3.7 17 0 2.1 14.5 0 16.5"/></g></g></g></g></svg></button>';
                    }
                },
                responsive: [
                    {
                        breakpoint: 1200,
                        settings: {
                            vertical: false,
                            dots: false
                        }
                    }
                ]
            });
        };
    };

   

    var initEventScrollDown = function() {
        if(window.innerWidth >= 1200) {
            var variantImg = $('[data-scrollDown-variantImg]');

            variantImg.off('click').on('click', function(e) {
                e.preventDefault();
                    var href = $(this).data('target');
                    var elm = $('#variant-'+ href);

                    if( elm.length ) {
                        $('html, body').stop().animate({
                            scrollTop: elm.offset().top
                        }, 500);
                    };
            });
        }
    };

    $(document).ready(function() {
        initProductFullWidthMoreview();
        initEventScrollDown();      
    });

    $(window).on('resize', function () {
        initEventScrollDown();
    })

    $(document)
        .on( 'shopify:section:load', initProductFullWidthMoreview)
        .on( 'shopify:section:unload', initProductFullWidthMoreview)
    ;
</script>

{% if section.settings.countdown == 'countdown_2' %}
<style>
    .product-shop .countdown-progressbar #progressbar {
        background-color: {{ section.settings.progressbar_color }};
    }

    .product-shop .countdown-progressbar #progressbar span {
        background-color: {{ section.settings.progressbar_active_color }};
    }
</style>
{% endif %}
{% endunless %}