<div id="shopify-section-product-template-surfup" class="shopify-section col-12">
  <div data-section-id="{{ section.id }}" data-section-type="product" id="ProductSection-{{ section.id }}" data-enable-history-state="true" data-collections-related="{{ routes.collections_url }}/{{collection.handle}}?view=related">
      <div class="product product-surfup">

          {%- assign current_variant = product.selected_or_first_available_variant -%}
          {% assign variantCount = product.variants | size %}

          <div class="product_top horizontal-tabs">
              <div class="product-photos" data-more-view-product>
                  <div class="product-img-box {% if section.settings.style_moreview == 'horizontal' %} horizontal-moreview{% elsif section.settings.style_moreview == 'left_vertical' %} left-vertical-moreview vertical-moreview{% else %} right-vertical-moreview vertical-moreview{% endif %}{% if settings.product_image_border%} grid-item-border{% endif %}">
                      <div style="position: relative;" class="wrapper-images">
                          <div class="product-photo-container slider-for">
                              {% for media in product.media %}
                              {% case media.media_type %}
                              {% when 'image' %}
                            	<div class="thumb filter-{{ media.alt | handle }}">
                                  <a {% if section.settings.enable_zoom_image %}data-zoom{% endif %} class="fancybox" rel="gallery1" href="{{ media | img_url: 'master' }}" data-fancybox="images">
                                      <img id="product-featured-image-{{media.id}}" src="{{ media | img_url: 'master' }}" alt="{{ media.alt | escape }}"
                                          class="lazyload"
                                          data-src="{{ media | img_url: 'master' }}"
                                          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                          data-aspectratio="{{ media | img_url: 'master' }}"
                                          data-sizes="auto">
                                  </a>
                              </div>
                              {% when 'external_video' %}
                              <div class="thumb filter-{{ media.alt | handle }}">
                                <div class="product-single__media" style="padding-top: 100%" data-media-id="{{ media.id }}">
                                  {{ media | external_video_tag: image_size: "1024x", loop: true }}
                                </div>
                              </div>
                            	{% when 'video' %}
                              <div class="thumb">
                                <div class="product-single__media" style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%" data-media-id="{{ media.id }}">
                                  {{ media | video_tag: controls: true, loop: true, image_size: "1024x" }}
                                </div>
                              </div>
                              {% when 'model' %}
                              <div class="thum">
                                <div class="product-single__media model-viewer-click" style="padding-top: 100%" data-media-id="{{ media.id }}">
                                  {{ media | model_viewer_tag: image_size: '1024x', 
                                  reveal: 'interaction', 
                                  toggleable: true, 
                                  data-model-id: media.id, 
                                  auto-rotate: true,
                                  id: 'paused-change-demo'
                                  }}
                                </div>
                                <div class="shopify-model-viewer-ui__controls-overlay">
                                  <div class="shopify-model-viewer-ui__button shopify-model-viewer-ui__button--poster" aria-label="Play 3D Viewer">
                                    <svg viewBox="0 0 60 60" id="threed-icon-button-control"><path fill="none" d="M0 0h60v60H0z"></path><path fill="currentColor" d="M40.4 22.57l-8.8-5.14a3.19 3.19 0 00-3.21 0l-8.8 5.14A3.24 3.24 0 0018 25.36v10.28a3.23 3.23 0 001.6 2.79l8.8 5.14a3.2 3.2 0 003.21 0l8.8-5.14A3.23 3.23 0 0042 35.64V25.36a3.24 3.24 0 00-1.6-2.79zM20.6 36.7a1.23 1.23 0 01-.6-1.06V25.36a1.23 1.23 0 01.6-1.06l8.8-5.14a1.19 1.19 0 011.19 0l8.8 5.14a1.2 1.2 0 01.36.34l-9.51 4.89a2.23 2.23 0 00-1.25 2V41.6z"></path></svg>
                                  </div>
                                </div>
                              </div>
                              
                              {% else %}
                              <div class="thumb filter-{{ media.alt | handle }}">
                                <div class="product-single__media" data-media-id="{{ media.id }}">
                                  {{ media | media_tag }}
                                </div>
                              </div>
                              {% endcase %}
                              {% endfor %}
                          </div>

                          {% render 'product-label', product: product, badge_detail: true %}
                      </div>

                      <div class="slider-nav" data-rows="5" data-vertical="{% if section.settings.style_moreview == 'horizontal' %}false{% else %}true{% endif %}">
                        {% for media in product.media %}
                        {% case media.media_type %}
                        {% when 'image' %}
                        <div class="item filter-{{ media.alt | handle }}">
                          <div class="product-single__media" data-media-id="{{ media.id }}">
                            <a href="javascript:void(0)" data-image="{{ media | img_url: 'original' }}" data-zoom-image="{{ media | img_url: 'original' }}">
                              <img src="{{ media | img_url: 'compact' }}" alt="{{ media.alt | escape }}">
                            </a>
                          </div>
                        </div>
                        {% when 'external_video' %}
                        <div class="item">
                          <div class="product-single__media" data-media-id="{{ media.id }}">
                            <a href="javascript:void(0)" data-image="{{ product.images.first | img_url: '180x' }}" data-zoom-image="{{ product.images.first | img_url: '180x' }}">
                              <img id="product-featured-image-{{image.id}}" class="product-single__thumbnail-image" src="{{ product.images.first | img_url: '180x' }}" alt="{{ media.alt }}">
                              <svg id="icon-video-product" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="play-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-play-circle fa-w-16 fa-7x"><g class="fa-group"><path fill="#dd534f" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm115.7 272l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z" class="fa-secondary"></path><path fill="#fff" d="M371.7 280l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z" class="fa-primary"></path></g></svg>
                            </a>
                          </div>
                        </div>
                        {% when 'video' %}
                        <div class="item">
                          <div class="product-single__media" data-media-id="{{ media.id }}">
                            <a href="javascript:void(0)" data-image="{{ product.images.first | img_url: '180x' }}" data-zoom-image="{{ product.images.first | img_url: '180x' }}">
                              <img id="product-featured-image-{{image.id}}" class="product-single__thumbnail-image" src="{{ product.images.first | img_url: '180x' }}" alt="{{ media.alt }}">
                              <svg id="icon-video-product" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="play-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-play-circle fa-w-16 fa-7x"><g class="fa-group"><path fill="#dd534f" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm115.7 272l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z" class="fa-secondary"></path><path fill="#fff" d="M371.7 280l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z" class="fa-primary"></path></g></svg>
                            </a>
                          </div>
                        </div>
                        {% when 'model' %}
                        <div class="item">
                          <div class="product-single__media" data-media-id="{{ media.id }}">
                            {{ media | model_viewer_tag: image_size: image_size, 
                            reveal: 'interaction', 
                            toggleable: true, 
                            data-model-id: media.id, 
                            auto-rotate: true
                            }}
                          </div>
                        </div>
                        {% else %}
                        <div class="item">
                          <div class="product-single__media 4" data-media-id="{{ media.id }}">
                            {{ media | media_tag }}
                          </div>
                        </div>
                        {% endcase %}
                        {% endfor %}
                      </div>

                  </div>
                  {% if enable_compare_color and show_compare_color %}
                      <div class="product-single__compareColor">
                          <a class="compareColor-link" href="javascript:void(0);" aria-label="link">
                            <span class="icon"></span>
                            <span class="text">{{ settings.compare_color_title }}</span>
                          </a>
                      </div>
                  {% endif %}
              </div>

              <div class="product-shop">
                  <div class="group-title {% if collection %}has-next_prev{% endif %}">
                    <h1 class="product-title">
                        {% render 'multilang' with product.title %}
                    </h1>
                    {% if collection %}
                    <div class="next_prev-groups">
                      {% render 'next-prev-product' %}  
                    </div>
                    {% endif %}
                  </div>

                  {% if section.settings.display_product_reviews or section.settings.show_sold_in %}
                  <div class="group_item">
                      {% if section.settings.display_product_reviews %}
                      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                      {% endif %}

                      {% if section.settings.show_sold_in %}
                      <div data-soldOut-product class="sold_product" data-items="{{ section.settings.item_prd }}" data-hours="{{ section.settings.hours_prs }}">
                          <svg viewBox="0 0 384 512" class="icon icon-fire" id="icon-fire">
                              <path d="M216 23.86c0-23.8-30.65-32.77-44.15-13.04C48 191.85 224 200 224 288c0 35.63-29.11 64.46-64.85 63.99-35.17-.45-63.15-29.77-63.15-64.94v-85.51c0-21.7-26.47-32.23-41.43-16.5C27.8 213.16 0 261.33 0 320c0 105.87 86.13 192 192 192s192-86.13 192-192c0-170.29-168-193-168-296.14z"></path>
                          </svg>
                          <span class="items-count">2</span>
                          {% render 'multilang' with section.settings.item_prds %}
                          <span class="hours-num">8</span>
                          {% render 'multilang' with section.settings.item_hours %}
                      </div>
                      {% endif %}
                  </div>
                  {% endif %}

                  {% if section.settings.display_vendor or section.settings.display_availability or section.settings.display_product_sku or section.settings.display_product_type %}
                  <div class="product-infor">
                      {% if section.settings.display_vendor %}
                      <div class="vendor-product">
                          {% if section.settings.text_vendor != blank %}
                          {% if settings.enable_multilang %}
                          <label class="lang1">
                              {{ section.settings.text_vendor | split: '|' | first }}
                          </label>
                          <label class="lang2">
                              {{ section.settings.text_vendor | split: '|' | last }}
                          </label>
                          {% else %}
                          <label>
                              {{ section.settings.text_vendor | split: '|' | first }}
                          </label>
                          {% endif %}
                          {% endif %}
                        	<span>
                            {{ product.vendor | link_to_vendor }}
                          </span>
                      </div>
                      {% endif %}

                      {% if section.settings.display_product_sku %}
                      <div class="sku-product">
                          {% if section.settings.text_product_sku != blank %}
                          {% if settings.enable_multilang %}
                          <label class="lang1">
                              {{ section.settings.text_product_sku | split: '|' | first }}
                          </label>
                          <label class="lang2">
                              {{ section.settings.text_product_sku | split: '|' | last }}
                          </label>
                          {% else %}
                          <label>
                              {{ section.settings.text_product_sku | split: '|' | first }}
                          </label>
                          {% endif %}
                          {% endif %}
                          <span>{{ current_variant.sku }}</span>
                      </div>
                      {% endif %}

                      {% if section.settings.display_availability %}
                      <div class="product-inventory">
                          {% if section.settings.text_availability != blank %}
                          <label>
                              {{ section.settings.text_availability | split: '|' | first }}
                          </label>
                          {% endif %}
                          <span>
                          {% if current_variant.inventory_management %}
                          {% assign first_inventory = current_variant.inventory_quantity %}
                          {% if first_inventory > 0 %}
                          {{first_inventory}} {{ 'products.product.in_stock' | t }}
                          {% else %}
                          {{ 'products.product.out_of_stock' | t }}
                          {% endif %}
                          {% else %}
                          {{ 'products.product.many_in_stock' | t }}
                          {% endif %}
                          </span>
                      </div>
                      {% endif %}

                      {% if section.settings.display_product_type %}
                      <div class="product-type">
                          {% if section.settings.text_product_type != blank %}
                          {% if settings.enable_multilang %}
                          <label class="lang1">
                              {{ section.settings.text_product_type | split: '|' | first }}
                          </label>
                          <label class="lang2">
                              {{ section.settings.text_product_type | split: '|' | last }}
                          </label>
                          {% else %}
                          <label>
                              {{ section.settings.text_product_type | split: '|' | first }}
                          </label>
                          {% endif %}
                          {% endif %}
                          {% if settings.enable_multilang %}
                          <span class="lang1">
                            {{ product.type | split: '|' | first }}
                          </span>
                          <span class="lang2">
                            {{ product.type| split: '|' | last }}
                          </span>
                          {% else %}
                          <span>
                            {{ product.type | split: '|' | first }}
                          </span>
                          {% endif %}
                      </div>
                      {% endif %}
                  </div>
                  {% endif %}

                  {% if product.description contains '[countdown]' %}
                  {% assign des = product.description | split:'[/countdown]' | last %}
                  {% if des contains '[custom tab]'%}
                  {% assign des = des | split:'[custom tab]' | first | split:'<iframe' | first %}
                  {% endif %}
                  {% else %}
                  {% assign des = product.description %}
                  {% if des contains '[custom tab]'%}
                  {% assign des = des | split:'[custom tab]' | first | split:'<iframe' | first %}
                  {% endif %}
                  {% endif %}

                  {% if section.settings.show_desc == 'short' %}

                  {% if product.metafields.c_f.short_description %}
                  {% assign des = product.metafields.c_f.short_description %}
                  {% assign word_numbeer = 1000000000 %}
                	{% if settings.enable_multilang and des contains '[lang2]' %}
                  <div class="short-description">
                      <div class="lang1">
                          {{ des | split: '[lang2]' | first | replace: '&nbsp;', ' ' | truncatewords: word_numbeer }}
                      </div>
                      <div class="lang2">
                          {{ des | split: '[lang2]' | last | replace: '&nbsp;', ' ' | truncatewords: word_numbeer }}
                      </div>
                  </div>
                  {% else %}
                  <div class="short-description">
                      {{ des | split: '[lang2]' | first | replace: '&nbsp;', ' ' | truncatewords: word_numbeer }}
                  </div>
                  {% endif %}
                  {% else %}
                  {% assign word_numbeer = 30 %}
                
                	{% if settings.enable_multilang and des contains '[lang2]' %}
                  <div class="short-description">
                      <div class="lang1">
                          {{ des | split: '[lang2]' | first | strip_html | replace: '&nbsp;', ' ' | truncatewords: word_numbeer }}
                      </div>
                      <div class="lang2">
                          {{ des | split: '[lang2]' | last | strip_html | replace: '&nbsp;', ' ' | truncatewords: word_numbeer }}
                      </div>
                  </div>
                  {% else %}
                  <div class="short-description">
                      {{ des | split: '[lang2]' | first | strip_html | replace: '&nbsp;', ' ' | truncatewords: word_numbeer }}
                  </div>
                  {% endif %}
                
                  {% endif %}

                  {% elsif section.settings.show_desc == 'full' %}
                  {% if settings.enable_multilang and des contains '[lang2]' %}
                  <div class="short-description">
                      <div class="lang1">
                          {{ des | split: '[lang2]' | first }}
                      </div>
                      <div class="lang2">
                          {{ des | split: '[lang2]' | last }}
                      </div>
                  </div>
                  {% else %}
                  <div class="short-description">
                      {{ des | split: '[lang2]' | first }}
                  </div>
                  {% endif %}
                  {% endif %}

                  {% if section.settings.enable_countdown %}
                
                  {% if section.settings.option_countdown == 'all_product' %}
                    {% assign count_down_final = section.settings.count_down_timer %}
                    {% if section.settings.countdown == 'countdown_1' %}
                    <div class="countdown">
                        <span>{{ section.settings.text_countdown }}</span>
                        <div class="countdown-item" data-countdown-normal data-countdown-value="{{ count_down_final }}"></div>
                    </div>

                    {% else %}
                    {% render 'countdown-progressbar', count_down_final: count_down_final %}
                    {% endif %}
                
                  {% else %}
                
                    {% if product.metafields.c_f.countdown %}
                      {% capture count_down_final %}{{ product.metafields.c_f.countdown }}{% endcapture %}

                      {% if section.settings.countdown == 'countdown_1' %}
                      <div class="countdown">
                          <span>{{ section.settings.text_countdown }}</span>
                          <div class="countdown-item" data-countdown-normal data-countdown-value="{{ count_down_final }}"></div>
                      </div>
                      {% else %}
                        {% render 'countdown-progressbar', count_down_final: count_down_final %}
                      {% endif %}

                    {% endif %}
                  {% endif %}
                
                  
                
                  {% if section.settings.custombox_text != blank %}
                  <div class="product-custombox hide-for-small-only">
                    {% if section.settings.custombox_text contains '[lang2]' %}
                    <span class="rte lang1">
                      {{ section.settings.custombox_text | split: '[lang2]' | first }}
                    </span>
                    <span class="rte lang2">
                      {{ section.settings.custombox_text| split: '[lang2]' | last }}
                    </span>
                    {% else %}
                    <span class="rte">
                      {{ section.settings.custombox_text | split: '[lang2]' | first }}
                    </span>
                    {% endif %}
                  </div>
                  {% endif %}
                
                  {% endif %}

                  <div class="prices">
                      {% if product.compare_at_price > product.price %}
                      <span class="compare-price">
                          {{ product.compare_at_price_max | money }}
                      </span>
                      <span class="price on-sale" itemprop="price">
                          {{ product.price | money }}
                      </span>
                      {% else %}
                      <span class="price" itemprop="price">
                          {{ product.price | money }}
                      </span>
                      {% endif %}
                      <input type="hidden" id="product_regular_price" name="product_regular_price" value="{{ product.price }}">
                  </div>

                  {% form 'product', product, id: "add-to-cart-form", novalidate: 'novalidate' %}
  				        {% if settings.display_size_chart %}
                  <a data-toggle="modal" data-target="#size_chart" class="size-chart-open-popup">
                    {% render 'multilang' with settings.size_guide_text %}
                  </a>
                  {% endif %}
                  
                  <div id="product-variants">
                      {% if variantCount > 0  and product.variants[0].title != 'Default Title'  %}
                      <select id="product-selectors" name="id" style="display: none;">
                          {% for variant in product.variants %}
                          {% if variant.available %}
                          <option data-imge="{% if variant.image.size != blank %}{{ variant.image.src | product_img_url: 'compact' }}{% else  %}{{ product.featured_image.src | product_img_url: 'compact' }}{% endif %}" {% if variant == current_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                              {{ variant.title }}
                          </option>
                          {% else %}
                          <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                          {% endif %}
                          {% endfor %}
                      </select>

                      {% if settings.use_color_swatch %}
                      {% for option in product.options %}
                      {% render 'swatch' with option %}
                      {% endfor %}
                      {% endif %}

                      {% else %}
                      <input type="hidden" name="id" value="{{ product.variants[0].id }}" />
                      {% endif %}

                      {% if enable_hot_stock and product.variants.size > 0 and product.variants.first.title != 'Default Title' %}
                      {% assign max_stock = section.settings.number_stock | plus: 0 %}
                      <div class="hot_stock" data-stock-hot data-value="{{max_stock}}">
                          {% if current_variant.inventory_management %}
                              {% if current_variant.inventory_quantity > 0 and current_variant.inventory_quantity <= max_stock %}
                              {{ "products.product.stock_hot" | t | replace: '[inventory]', current_variant.inventory_quantity }}
                              {% endif %}
                          {% endif %}
                      </div>
                      {% endif %}
                  </div>

                  {% if section.settings.display_subtotal and product.available and section.settings.display_qty %}
                  <div class="total-price">
                      <label {% if settings.enable_multilang %}data-translate="cart.general.subtotal"{%endif%}>
                          {{ 'cart.general.subtotal' | t }}:
                      </label>
                      <span class="total-money">
                          {{ current_variant.price | money }}
                      </span>
                  </div>
                  {% endif %}

                  {% if settings.enable_checkbox %}
                      
                    <div class="groups-btn">
                      <div class="groupe-skin-1">
                        {% if product.available and section.settings.display_qty %}
                        <div class="quantity">
                            <label for="quantity">
                                {{ 'cart.label.quantity' | t }}:
                            </label>
                            <div class="qty-group">
                                <input type="number" data-qtt-id="quantity__{{ product.id }}" name="quantity" value="1" min="1" inputmode="numeric" pattern="[0-9]*">
                            </div>
                        </div>
                        {% endif %}

                        <div class="wrapper-button">
                          {% if current_variant.available %}
                        
                          {% if current_variant.inventory_management %}
                          {% assign first_inventory = current_variant.inventory_quantity %}
                        
                          {% if first_inventory > 0 %}
                          <input data-btn-addToCart type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{%endif%} id="product-add-to-cart" value="{{ 'products.product.add_to_cart' | t }}" data-form-id="#add-to-cart-form">
                          {% else %}
                          <input data-btn-addToCart type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.pre_order"{%endif%} id="product-add-to-cart" value="{{ 'products.product.pre_order' | t }}" data-form-id="#add-to-cart-form">
                          {% endif %}
                        
                          {% else %}
                          <input data-btn-addToCart type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{%endif%} id="product-add-to-cart" value="{{ 'products.product.add_to_cart' | t }}" data-form-id="#add-to-cart-form">
                          {% endif %}
                        
                          {% else %}
                          <input type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.unavailable"{%endif%} id="product-add-to-cart" disabled value="{{ 'products.product.unavailable' | t }}" >
                          {% endif %}

                          {% render 'wishlist-product', skin_1: false, product: product %}

                          {% if section.settings.display_product_detail_share %}
                            <a class="icon-share" href="javascript:void(0)" aria-label="{{ 'products.product.share' | t }}" {% if settings.enable_multilang %}data-translate="products.product.share"{%endif%}>{% render 'icon-share' %}</a>
                          {% endif %}
                        </div>

                      </div>
                      <div class="checkbox-group">
                          <input class="conditions" type="checkbox" name="conditions">
                          <label class="title" for="conditions">
                              {{settings.checkbox_text}}
                          </label>
                          {% if settings.terms_conditions_text_link != blank %}
                          <a data-toggle="modal" data-target="#terms_condition_modal" href="javascript:void(0)" aria-label="link" aria-describedby="a11y-external-message">
                              {{ settings.terms_conditions_text_link }}
                          </a>
                          {% endif %}
                      </div>
                      <div class="btn-checkout show"> 
                      {% if section.settings.enable_payment_button and current_variant.available %}
                          {{ form | payment_button }}
                      {% endif %}
                      </div>
                      <div class="wrapper-social-popup">
                        <div class="title-close">
                          <p class="social-title">{{ 'products.product.copy_link' | t }}</p>
                          {% render 'icon-close' %}
                        </div>
                        <div class="social-garment-link" role="button" tabindex="-1"><input type="text" value="{{ canonical_url }}" class="txt_copy" readonly="readonly"></div>
                        {% if section.settings.display_product_detail_share %}
                          {% render 'share' with product %}
                        {% endif %}
                      </div>
                    </div>
                  {% else %}
                    <div class="groups-btn">
                        <div class="groupe-skin-1">
                          {% if current_variant.available and section.settings.display_qty %}
                          <div class="quantity">
                              <div class="qty-group">
                                  <input type="number" data-qtt-id="quantity__{{ product.id }}" name="quantity" value="1">
                              </div>
                          </div>
                          {% endif %}

                          <div class="wrapper-button">
                            {% if current_variant.available %}
                          
                            {% if current_variant.inventory_management %}
                            {% assign first_inventory = current_variant.inventory_quantity %}
                          
                            {% if first_inventory > 0 %}
                            <input data-btn-addToCart type="submit" name="add" class="btn" id="product-add-to-cart" value="{{ 'products.product.add_to_cart' | t }}" data-form-id="#add-to-cart-form">
                            {% else %}
                            <input data-btn-addToCart type="submit" name="add" class="btn" id="product-add-to-cart" value="{{ 'products.product.pre_order' | t }}" data-form-id="#add-to-cart-form">
                            {% endif %}
                            {% else %}
                            <input data-btn-addToCart type="submit" name="add" class="btn" id="product-add-to-cart" value="{{ 'products.product.add_to_cart' | t }}" data-form-id="#add-to-cart-form">
                            {% endif %}
                          
                            {% else %}
                            <input type="submit" name="add" class="btn" id="product-add-to-cart" disabled value="{{ 'products.product.unavailable' | t }}" >
                            {% endif %}

                            {% render 'wishlist-product', skin-1: false, product: product %}

                            {% if section.settings.display_product_detail_share %}
                              <a class="icon-share" href="javascript:void(0)">{% render 'icon-share' %}</a>
                            {% endif %}
                          </div>
                          
                        </div>

                        {% if section.settings.enable_payment_button and current_variant.available %}
                        {{ form | payment_button }}
                        {% endif %}

                        <div class="wrapper-social-popup">
                          <div class="title-close">
                            <p class="social-title">{{ 'products.product.copy_link' | t }}</p>
                            {% render 'icon-close' %}
                          </div>
                          <div class="social-garment-link" role="button" tabindex="-1"><input type="text" value="{{ canonical_url }}" class="txt_copy" readonly="readonly"></div>
                          {% if section.settings.display_product_detail_share %}
                            {% render 'share' with product %}
                          {% endif %}
                        </div>
                    </div>
                  {% endif %}
                  
                  {% endform %}

                  {% render 'nofify-sold-out', product: product, variantCount: variantCount, current_variant: current_variant %}

                  {% if section.settings.dpl_customers_view %}
                  <div id="customers_view" data-customer-view="{{ section.settings.number_view }}">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <label>{{ section.settings.number_view | split: ',' | slice: 0 }}</label> {% render 'multilang' with section.settings.title_view %}
                  </div>
                  {% endif %}

                  {% if section.settings.display_product_detail_tag %}
                  <div class="tags">
                      <strong class="icon-tags" {% if settings.enable_multilang %}data-translate="blogs.article.tags"{%endif%}>{{ 'blogs.article.tags' | t }}:</strong>
                      {% for tag in product.tags %}
                      <span class="separator">/</span>
                      <a href="/collections/all/?constraint={{ tag | handle }}" rel="tag">
                        {% if settings.enable_multilang %}
                        <span class="lang1">{{ tag | split: '|' | first }}</span>
                        <span class="lang2">{{ tag | split: '|' | last }}</span>
                        {% else %}
                        <span>{{ tag | split: '|' | first }}</span>
                        {% endif %}
                      </a>
                      {% endfor %}
                  </div>
                  {% endif %}

                  {% if section.settings.display_trust_img and settings.img_trust != blank %}
                  <div class="secure-shopping-guarantee">
                      <img src="{{ settings.img_trust | img_url: '800x'  }}">
                  </div>
                  {% endif %}

                  <div
                    id="store_availability" class="product-single__store-availability-container"
                    data-store-availability-container
                    data-product-title="{{ product.title | escape }}"
                    data-has-only-default-variant="{{ product.has_only_default_variant }}"
                    data-base-url="{{ shop.url }}{{ routes.root_url }}"
                  >
                  </div>
              </div>
          </div>

          {% if section.settings.dpl_grouped_product %}
              {% render 'grouped-block-supermarket', row: 4 %}
          {% endif %}

          <div class="product_bottom">
              {% render 'tab-horizontal' %}
          </div>
          
      </div>
  </div>
</div>