{%- liquid
  assign on_sale = false
  if product.compare_at_price_min > product.price_min
    assign on_sale = true
  endif
  assign sold_out = true
  if product.available
    assign sold_out = false
  endif
  assign option_color_swatch = settings.option_color_swatch | downcase
  assign url = ''
  for option in product.options_with_values
      assign option_name = option.name | downcase
      if option_color_swatch contains option_name
          assign product_option = option
          assign index = forloop.index0
          assign position = forloop.index | minus: 1
          assign select = option.selected_value
          for variant in product.variants limit: 1
            if variant.image != null  
              assign url = variant.image.src
            endif
          endfor
          break
      else 
          assign position = 0
      endif
  endfor
  if sectionId == blank 
    assign sectionId = section.id
  endif
-%}

<div class="inner product-item{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}{% if settings.style_product_grid == 'style_product_grid_5'%} layout_2{%endif%}" data-product-id="product-{{ product.id }}" data-json-product='{"id": {{product.id}},"handle": "{{product.handle}}","media": {{product.media | json}},"variants": {{ product.variants | json }}}'>
  <div class="inner-top">
    <div class="product-top">
      <div class="product-image{% if product.images.size > 1 and settings.image_swap %} image-swap{% endif %}">
        <a href="{{ product.url | within: collection }}" class="product-grid-image adaptive_height" data-collections-related="{{ routes.collections_url }}/{{collection.handle}}?view=related" {% unless settings.product_image_resize %}style="padding-top: {{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100 }}%"{% endunless %}>
          {% render 'image-size', product: product, img: url %}
        </a>
      </div>

      {% render 'product-label' with product as product, serial: serial %}

      {% comment %} Use for productGrid {% endcomment %}
      <div class="product-des abs-center">
        {% render 'wishlist-product' with product as product %}

        {% unless settings.style_product_grid == 'style_product_grid_5'%}
          {% if settings.display_button %}
            <div class="action">
              {% render 'add-to-cart-form', product: product, sold_out: sold_out, id: 'massonry-product-form', position: position, sectionId: sectionId %}
            </div>
          {% endif %}

          {% if settings.display_product_reviews %}
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          {% endif %}
        {% endunless %}
      </div>

      {% if product.metafields.c_f.countdown and on_sale and section.settings.show_countdown %}
      {% capture count_down_final %}{{ product.metafields.c_f.countdown }}{% endcapture %}
      <div class="countdown countdown-grid-item">
        {% render 'multilang' with section.settings.text_countdown %}
        <div class="countdown-item" data-countdown-normal data-countdown-value="{{ count_down_final }}"></div>
      </div>
      {% endif %}

      {% if settings.display_item_size or settings.enable_quick_view %}
      <div class="product-des abs-bottom">
        {% if settings.display_item_size %}
        {% render 'items-size' with product as product %}
        {% endif %}

        {% if settings.enable_quick_view %}
        <a class="quickview-button" href="javascript:void(0)" id="{{ product.handle }}" title="{{ 'products.product.quick_view' | t }}" {% if settings.enable_multilang %}data-translate="products.product.quick_view" translate-item="title"{% endif %}>
          <span {% if settings.enable_multilang %}data-translate="products.product.quick_view"{% endif %}>
            {{ 'products.product.quick_view' | t }}
          </span>
        </a>
        {% endif %}
      </div>
      {% endif %}
    </div>

    {% comment %} Use for productGrid {% endcomment %}
    <div class="product-bottom">
      {% if settings.show_vendor %}
      <div class="product-vendor">
        {{ product.vendor | link_to_vendor }}
      </div>
      {% endif %}

      <a class="product-title" href="{{ product.url | within: collection }}">
        {% render 'multilang' with product.title %}
      </a>

      {% if settings.style_product_grid == 'style_product_grid_5'%}
        {% if settings.display_product_reviews %}
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% endif %}
      {% endif %}
          
      {% if section.settings.show_pro_des %}
      <div class="short-description">
        {% if product.description contains '[countdown]' %}
        {% assign des = product.description | split:'[/countdown]' | last %}
        {% else %}
        {% assign des = product.description %}
        {% endif %}

        {% if settings.enable_multilang and des contains '[lang2]' %}
        <div class="lang1">
          {{ des | split: '[lang2]' | first | strip_html | truncatewords: 10 }}
        </div>
        <div class="lang2">
          {{ des | split: '[lang2]' | last | strip_html | truncatewords: 10 }}
        </div>
        {% else %}
        <div>
          {{ des | split: '[lang2]' | first | strip_html | truncatewords: 10 }}
        </div>
        {% endif %}
      </div>
      {% endif %}

      <div class="price-box">
        {% if on_sale %}
        <div class="price-sale">
          {% if settings.enable_quick_shop %}
            <span class="old-price" data-compare-price-grid>{{ product.variants[0].compare_at_price | money }}</span>
            <span class="special-price" data-price-grid>{{ product.variants[0].price | money }}</span>
          {% else %}
            <span class="old-price" >{{ product.compare_at_price_min | money }}</span>
            <span class="special-price">
              {% if product.price_varies %}{% render 'varies_from' %}{% endif %}{{ product.price_min | money }}
            </span>
          {% endif %}
        </div>
        {% else %}
          {% if settings.enable_quick_shop %}
          <div class="price-regular">
            <span data-price-grid>{{ product.variants[0].price | money }}</span>
          </div>
          {% else %}
          <div class="price-regular">
            <span>{% if product.price_varies %}{% render 'varies_from' %}{% endif %}{{ product.price_min | money }}</span>
          </div>
          {% endif %}
        {% endif %}
      </div>

      {% if settings.display_item_swatch %}
      {% render 'item-swatch', product: product, option_color_swatch: option_color_swatch, downcased_option: option_name, product_option: product_option, index: index %}
      {% endif %}

      {% if product.metafields.c_f.countdown and on_sale and section.settings.show_countdown %}
      {% capture count_down_final %}{{ product.metafields.c_f.countdown }}{% endcapture %}
      <div class="countdown countdown-grid-item">
        {% render 'multilang' with section.settings.text_countdown %}
        <div class="countdown-item" data-countdown-normal data-countdown-value="{{ count_down_final }}"></div>
      </div>
      {% endif %}

      {% if settings.style_product_grid == 'style_product_grid_5'%}
        {% if settings.display_button %}
          <div class="action">
            {% render 'add-to-cart-form', product: product, sold_out: sold_out, id: 'massonry-product-form', position: position, sectionId: sectionId %}
          </div>
        {% endif %}
      {% endif %}
    </div>

    {% comment %} Use for productList {% endcomment %}
    <div class="product-details">
      {% if settings.show_vendor %}
      <div class="product-vendor">
        {{ product.vendor | link_to_vendor }}
      </div>
      {% endif %}

      <a class="product-title" href="{{ product.url | within: collection }}">
        {% render 'multilang' with product.title %}
      </a>

      {% if settings.display_product_reviews %}
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}" style="min-height: 20px; display: block; margin-bottom: 9px;"></span>
      {% endif %}

      <div class="short-description">
        {% if product.description contains '[countdown]' %}
        {% assign des = product.description | split:'[/countdown]' | last %}
        {% else %}
        {% assign des = product.description %}
        {% endif %}

        {% if settings.enable_multilang and des contains '[lang2]' %}
        <div class="lang1">
          {{ des | split: '[lang2]' | first | strip_html | truncatewords: 40 }}
        </div>
        <div class="lang2">
          {{ des | split: '[lang2]' | last | strip_html | truncatewords: 40 }}
        </div>
        {% else %}
        <div>
          {{ des | split: '[lang2]' | first | strip_html | truncatewords: 40 }}
        </div>
        {% endif %}
      </div>

      <div class="price-box">
        {% if on_sale %}
        <div class="price-sale">
          {% if settings.enable_quick_shop %}
            <span class="old-price" data-compare-price-grid>{{ product.variants[0].compare_at_price | money }}</span>
            <span class="special-price" data-price-grid>{{ product.variants[0].price | money }}</span>
          {% else %}
            <span class="old-price" >{{ product.compare_at_price_min | money }}</span>
            <span class="special-price">
              {% if product.price_varies %}{% render 'varies_from' %}{% endif %}{{ product.price_min | money }}
            </span>
          {% endif %}
        </div>
        {% else %}
          {% if settings.enable_quick_shop %}
          <div class="price-regular">
            <span data-price-grid>{{ product.variants[0].price | money }}</span>
          </div>
          {% else %}
          <div class="price-regular">
            <span>{% if product.price_varies %}{% render 'varies_from' %}{% endif %}{{ product.price_min | money }}</span>
          </div>
          {% endif %}
        {% endif %}
      </div>

      {% if settings.display_item_swatch %}
      {% render 'item-swatch', product: product, option_color_swatch: option_color_swatch, downcased_option: option_name, product_option: product_option, index: index %}
      {% endif %}

      {% if settings.display_button %}
      <div class="action">
        {% assign variantCount = product.variants | size %}
        <form action="{{ routes.cart_url }}/add" method="post" class="variants" data-id="product-actions-{{ product.id }}" enctype="multipart/form-data">
          {% if sold_out %}
          <button class="btn add-to-cart-btn" type="submit" disabled="disabled" {% if settings.enable_multilang %}data-translate="products.product.unavailable"{% endif %}>
            {{ 'products.product.unavailable' | t }}
          </button>
          {% else %}
          {% if variantCount > 1 %}
          <a class="btn" href="{{ product.url }}" title="{{ product.title }}" {% if settings.enable_multilang %}data-translate="products.product.select_options"{% endif %}>
            {{ 'products.product.select_options' | t }}
          </a>
          {% else %}        
          <input type="hidden" name="id" value="{{ product.variants[0].id }}" />
          {%- assign current_variant_grid = product.selected_or_first_available_variant -%}
          {% assign first_inventory_grid = current_variant_grid.inventory_quantity %}
          {% if first_inventory_grid > 0 %}
          <button data-btn-addToCart class="btn add-to-cart-btn" type="submit" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{% endif %}>
            {{ 'products.product.add_to_cart' | t }}
          </button>
          {% else %}
          <button data-btn-addToCart class="btn add-to-cart-btn" type="submit" {% if settings.enable_multilang %}data-translate="products.product.pre_order"{% endif %}>
            {{ 'products.product.pre_order' | t }}
          </button>
          {% endif %}
          
          {% endif %}
          {% endif %}
        </form>
      </div>
      {% endif %}

      {% render 'wishlist-product' with product as product %}
    </div>
  </div>
</div>
