
{% if section.settings.display_product_detail_description or  section.settings.display_product_reviews or section.settings.display_custom_tab_1 or section.settings.display_custom_tab_2 or section.settings.display_custom_tab_3 or section.settings.display_custom_tab_4 or section.settings.display_custom_tab_5 %}
<div class="tabs__product-page horizontal-tabs{% if section.settings.show_tab == 'horizontal_center' %} horizontal-tabs-center{% endif %}">
    {% if section.settings.display_product_detail_description == false and section.settings.display_product_reviews == true %}
        {% assign tab2_active = true %}
    {% elsif section.settings.display_product_detail_description == false and section.settings.display_product_reviews == false and section.settings.display_custom_tab_1 == true %}
        {% assign tab3_active = true %}
    {% elsif section.settings.display_product_detail_description == false and section.settings.display_product_reviews == false and section.settings.display_custom_tab_1 == false and section.settings.display_custom_tab_2 == true %}
        {% assign tab4_active = true %}
    {% elsif section.settings.display_product_detail_description == false and section.settings.display_product_reviews == false and section.settings.display_custom_tab_1 == false and section.settings.display_custom_tab_2 == false and section.settings.display_custom_tab_3 == true %}
        {% assign tab5_active = true %} 
    {% elsif section.settings.display_product_detail_description == false and section.settings.display_product_reviews == false and section.settings.display_custom_tab_1 == false and section.settings.display_custom_tab_2 == false and section.settings.display_custom_tab_3 == false and section.settings.display_custom_tab_4 == true %}
        {% assign tab6_active = true %}
    {% elsif section.settings.display_product_detail_description == false and section.settings.display_product_reviews == false and section.settings.display_custom_tab_1 == false and section.settings.display_custom_tab_2 == false and section.settings.display_custom_tab_3 == false and section.settings.display_custom_tab_4 == false %}
        {% assign tab7_active = true %}
    {% endif %}
    <ul class="list-tabs">
        {% if section.settings.display_product_detail_description %}
        <li class="tab-title">
            <a href="#" data-tapTop data-target="#collapse-tab1" class="tab-links active">
                {% render 'multilang' with section.settings.product_description_title %}
            </a>
        </li>
        {% endif %}

        {% if section.settings.display_product_reviews %}
        <li class="tab-title">
            <a href="#" data-tapTop data-target="#collapse-tab2" class="tab-links {% if tab2_active%}active{% endif %}">
                {% render 'multilang' with section.settings.product_review_title %}
            </a>
        </li>
        {% endif %}

        {% if section.settings.display_custom_tab_1 %}
        <li class="tab-title">
            <a href="#" data-tapTop data-target="#collapse-tab3" class="tab-links {% if tab3_active%}active{% endif %}">
                {% render 'multilang' with section.settings.custom_tab_title_1 %}
            </a>
        </li>
        {% endif %}

        {% if section.settings.display_custom_tab_2 %}
        <li class="tab-title">
            <a href="#" data-tapTop data-target="#collapse-tab4" class="tab-links {% if tab4_active%}active{% endif %}">
                {% render 'multilang' with section.settings.custom_tab_title_2 %}
            </a>
        </li>
        {% endif %}

        {% if section.settings.display_custom_tab_3 %}
        <li class="tab-title">
            <a href="#" data-tapTop data-target="#collapse-tab5" class="tab-links {% if tab5_active%}active{% endif %}">
                {% render 'multilang' with section.settings.custom_tab_title_3 %}
            </a>
        </li>
        {% endif %}

        {% if section.settings.display_custom_tab_4 %}
        <li class="tab-title">
            <a href="#" data-tapTop data-target="#collapse-tab6" class="tab-links {% if tab6_active%}active{% endif %}">
                {% render 'multilang' with section.settings.custom_tab_title_4 %}
            </a>
        </li>
        {% endif %}

        {% if section.settings.display_custom_tab_5 %}
        <li class="tab-title">
            <a href="#" data-tapTop data-target="#collapse-tab7" class="tab-links {% if tab7_active%}active{% endif %}">
                {% render 'multilang' with section.settings.custom_tab_title_5 %}
            </a>
        </li>
        {% endif %}
    </ul>

    <div class="wrapper-tab-content">
        {% if section.settings.display_product_detail_description %}

        {% assign des = product.description %}
        {% if des contains '[countdown]' or product.description contains '[custom tab]' %}
        {% assign des = product.description | split:'[/countdown]</p>' | last %}
        {% assign des = des | split:'[custom tab]' | first | split:'<iframe' | first %}
        {% endif %}

        <div class="tab-title">
            <a href="#" data-tapTop data-target="#collapse-tab1" class="tab-links active">
                {% render 'multilang' with section.settings.product_description_title %}
                <span class="icon-dropdown">
                <i class="fa fa-angle-down"></i>
                </span>
            </a>
        </div>

        <div class="tab-content active" data-TabContent id="collapse-tab1">
            <div class="rte">
                {{ des }}
            </div>
            {% unless settings.product_layout == "surfup" %}
                {% render 'product-banner' %}
            {% endunless %}
            {% render 'product-detail-gallery_lookbook', product: product %}
        </div>
        {% endif %}

        {% if section.settings.display_product_reviews %}
            <div class="tab-title">
                <a href="#" data-tapTop data-target="#collapse-tab2" class="tab-links {% if tab2_active%}active{% endif %}">
                    {% render 'multilang' with section.settings.product_review_title %}
                    <span class="icon-dropdown">
                    <i class="fa fa-angle-down"></i>
                    </span>
                </a>
            </div>
            <div class="tab-content {% if tab2_active%}active{% endif %}" data-TabContent id="collapse-tab2">
                <div id="shopify-product-reviews" data-id="{{product.id}}">
                    {{ product.metafields.spr.reviews }}
                </div>
            </div>
        {% endif %}

        {% if section.settings.display_custom_tab_1 %}
            <div class="tab-title">
                <a href="#" data-tapTop data-target="#collapse-tab3" class="tab-links {% if tab3_active%}active{% endif %}">
                    {% render 'multilang' with section.settings.custom_tab_title_1 %}
                    <span class="icon-dropdown">
                    <i class="fa fa-angle-down"></i>
                    </span>
                </a>
            </div>
            <div class="tab-content {% if tab3_active%}active{% endif %}" data-TabContent id="collapse-tab3">
                {% if product.metafields.c_f.custom_tab1 != blank %}
                   {% assign des = product.metafields.c_f.custom_tab1 %}
                    <div>
                        {{ des }}
                    </div>
                {% else %}
                    {% assign des = section.settings.custom_tab_content_1 %}
                    <div>
                        {{ des }}
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% if section.settings.display_custom_tab_2 %}
            <div class="tab-title">
                <a href="#" data-tapTop data-target="#collapse-tab4" class="tab-links {% if tab4_active %}active{% endif %}">
                    {% render 'multilang' with section.settings.custom_tab_title_2 %}
                    <span class="icon-dropdown">
                    <i class="fa fa-angle-down"></i>
                    </span>
                </a>
            </div>
            <div class="tab-content {% if tab4_active %}active{% endif %}" data-TabContent id="collapse-tab4">
                {% if product.metafields.c_f.custom_tab2 != blank %}
                   {% assign des = product.metafields.c_f.custom_tab2 %}
                    <div>
                        {{ des }}
                    </div>
                {% else %}
                    {% assign des = section.settings.custom_tab_content_2 %}
                    <div>
                        {{ des }}
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% if section.settings.display_custom_tab_3 %}
            <div class="tab-title">
                <a href="#" data-tapTop data-target="#collapse-tab5" class="tab-links {% if tab5_active%}active{% endif %}">
                    {% render 'multilang' with section.settings.custom_tab_title_3 %}
                    <span class="icon-dropdown">
                    <i class="fa fa-angle-down"></i>
                    </span>
                </a>
            </div>
            <div class="tab-content {% if tab5_active%}active{% endif %}" data-TabContent id="collapse-tab5">
                {% if product.metafields.c_f.custom_tab3 != blank %}
                   {% assign des = product.metafields.c_f.custom_tab3 %}
                    <div>
                        {{ des }}
                    </div>
                {% else %}
                    {% assign des = section.settings.custom_tab_content_3 %}
                    <div>
                        {{ des }}
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% if section.settings.display_custom_tab_4 %}
            <div class="tab-title">
                <a href="#" data-tapTop data-target="#collapse-tab6" class="tab-links {% if tab6_active%}active{% endif %}">
                    {% render 'multilang' with section.settings.custom_tab_title_4 %}
                    <span class="icon-dropdown">
                    <i class="fa fa-angle-down"></i>
                    </span>
                </a>
            </div>
            <div class="tab-content {% if tab6_active%}active{% endif %}" data-TabContent id="collapse-tab6">
                {% if product.metafields.c_f.custom_tab4 != blank %}
                   {% assign des = product.metafields.c_f.custom_tab4 %}
                    <div>
                        {{ des }}
                    </div>
                {% else %}
                    {% assign des = section.settings.custom_tab_content_4 %}
                    <div>
                        {{ des }}
                    </div>
                {% endif %}
            </div>
        {% endif %} 

        {% if section.settings.display_custom_tab_5 %}
            <div class="tab-title">
                <a href="#" data-tapTop data-target="#collapse-tab7" class="tab-links {% if tab7_active%}active{% endif %}">
                    {% render 'multilang' with section.settings.custom_tab_title_5 %}
                    <span class="icon-dropdown">
                    <i class="fa fa-angle-down"></i>
                    </span>
                </a>
            </div>
            <div class="tab-content {% if tab7_active%}active{% endif %}" data-TabContent id="collapse-tab7">
                {% if product.metafields.c_f.custom_tab5 != blank %}
                   {% assign des = product.metafields.c_f.custom_tab5 %}
                    <div>
                        {{ des }}
                    </div>
                {% else %}
                    {% assign des = section.settings.custom_tab_content_5 %}
                    <div>
                        {{ des }}
                    </div>
                {% endif %}
            </div>
        {% endif %}

    </div>
    {% endif %}
</div>
