{% if section.blocks.size > 0 %}
<div class="home-spotlight-block {% if section.settings.layout_style == 'layout_style_2' %} layout_style_2{% endif %}" id="home-spotlight-{{section.id}}">
  <div class="{% if section.settings.layout == 'default' %}container{% else %}container-fluid{% endif %}">
    {% if section.settings.spotlight_block_title != blank %}
    <div class="widget-title{% if section.settings.title_style == 'style_2' %} not-before{% endif %}{% unless section.settings.spotlight_block_des != blank %} no-des{% endunless %}">   
      <h3 class="box-title">
        <span class="title"> 
          {% render 'multilang' with section.settings.spotlight_block_title %}
        </span>
      </h3>
      {% if section.settings.spotlight_block_des != blank %}
      <p>
        {% render 'multilang' with section.settings.spotlight_block_des %}
      </p>        
      {% endif %}
    </div>
    {% endif %}
    
    <div class="row {% if section.settings.layout_style == 'layout_style_1' %}spotlight-{{ section.blocks.size }}-blocks{% endif %}">
      {% for block in section.blocks %}
      
      {% case section.blocks.size %}
        {% when 1 %}
          {%- assign column_size = 'col-12' -%}
        {% when 2 %}
          {%- assign column_size = 'col-12 col-md-6' -%}
        {% when 3 %}
            {%- assign column_size = 'col-12 col-md-6 col-lg-4' -%}    
      {% endcase %}

      {% if block.settings.title != blank or block.settings.des != blank or block.settings.button != blank %}
        <div class="{{ column_size }} spotlight-column-style-2" id="block-{{block.id}}">
            <div class="spotlight-item">
              <div class="img-box">
                {% if block.settings.image != blank %}
                    {% if section.settings.layout_style == 'layout_style_1' %}
                        {%- assign preview_img = block.settings.image -%}
                        <a href="{{ block.settings.link }}" class="animate-scale adaptive_height" style="padding-top: {{ 1 | divided_by: preview_img.aspect_ratio | times: 100 }}%">
                          {%- assign img_url = block.settings.image | img_url: '800x', crop: 'center' -%}
                          <img data-srcset="{{ img_url }}" alt="{{ block.settings.image.alt | default: shop.name }}" class="lazyload" data-sizes="auto">
                        </a>
                    {% else %}
                        {%- assign preview_img = block.settings.image -%}
                        <a href="{{ block.settings.link }}" class="">
                          {%- assign img_url = block.settings.image | img_url: '185x', crop: 'center' -%}
                          <img data-srcset="{{ img_url }}" alt="{{ block.settings.image.alt | default: shop.name }}" class="lazyload" data-sizes="auto">
                        </a>
                    {% endif %}
                {% else %}
                    {% if section.settings.layout_style == 'layout_style_1' %}
                        <a href="{{ block.settings.link }}" class="animate-scale">
                            <div class="not_img">370 x 440px</div>
                        </a>
                    {% else %}
                        <a href="{{ block.settings.link }}" class="">
                            <div class="not_img">185 x 110px</div>
                        </a>
                    {% endif %}
                {% endif %}
              </div>

              {% if block.settings.title != blank or block.settings.des != blank or block.settings.button != blank %}
              <div class="content spotlight-inner">
                {% if block.settings.title != blank %}
                <h3 class="title">
                  {% render 'multilang' with block.settings.title %}               
                </h3>
                {% endif %}
                
                {% if block.settings.des != blank %}
                <p class="des">
                  {% render 'multilang' with block.settings.des %}  
                </p>
                {% endif %}
                
                {% if block.settings.button != blank %}
                {% assign link_check = false %}
                {% if block.settings.link == '#contact-us' %}
                    {% assign link_check = true %}
                {% endif %}
                <a href="{{ block.settings.link }}" class="spotlight-button btn" {% if block.settings.link == '#contact-us' %}data-toggle="modal" data-target="#ask_an_expert"{% endif %}>
                  {% render 'multilang' with block.settings.button %}
                </a>
                {% endif %}
              </div>
              {% endif %}
            </div>
        </div>
      {% else %}
        <div class="{{ column_size }} spotlight-column-style-2 full-image" id="block-{{block.id}}">
           {% if block.settings.image != blank %}
                {%- assign preview_img = block.settings.image -%}
                <a href="{{ block.settings.link }}" class="">
                  {%- assign img_url = block.settings.image | img_url: '960px', crop: 'center' -%}
                  <img data-srcset="{{ img_url }}" alt="{{ block.settings.image.alt | default: shop.name }}" class="lazyload" data-sizes="auto">
                </a>
            {% else %}
                <a href="{{ block.settings.link }}" class="">
                    <div class="not_img">960 x 510px</div>
                </a>
            {% endif %}
        </div>
      {% endif %}
      {% if section.settings.layout_style == 'layout_style_2' %}
      <style>
          #block-{{block.id}} {
            background-color: {{ block.settings.bg_color_column }};
          }
          #block-{{block.id}} .spotlight-item .spotlight-button {
            color: {{ block.settings.color_button }};
          }
          #block-{{block.id}} .spotlight-item .spotlight-button span:before {
            background-color: {{ block.settings.color_button }};
          }
      </style>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% if link_check == true %}
    {% render 'ask_an_expert' %}
{% endif %}
<style>
    {% assign margin_bottom =  section.settings.margin_bottom %}

    @media (max-width: 767px) {
        #home-spotlight-{{section.id}} {
            margin-bottom: {{ section.settings.margin_bottom_mb }}px;
        }
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        #home-spotlight-{{section.id}} {
            margin-bottom: {{ section.settings.margin_bottom_tab }}px;
        }
    }
  
    @media (min-width: 1200px) {
        #home-spotlight-{{section.id}} {
        margin-bottom: {{ margin_bottom }}px;
        }
    }   
</style>
{% endif %}


{% schema %}
    {
        "name": "Custom Block: Spotlight",
        "class": "home-custom-block-spotlight-sections",
        "max_blocks": 3,
        "settings": [      
            {
                "type": "select",
                "id": "layout",
                "label": "Spotlight Layout:",
                "options": [
                    {
                        "value": "default",
                        "label": "Default"
                    },
                    {
                        "value": "full",
                        "label": "Full Width"
                    }
                ],
                "default": "default"
            },
            {
                "type": "select",
                "id": "layout_style",
                "label": "Layout Style:",
                "options": [
                  {
                    "value": "layout_style_1",
                    "label": "Style 1" 
                  },
                  { 
                    "value": "layout_style_2",
                    "label": "Style 2" 
                  }
                ],
                "default": "layout_style_1"
            },
            {
                "type": "header",
                "content": "Margin Bottom:"
            },
            {
                "type": "range",
                "id": "margin_bottom_mb",
                "label": "Mobile",
                "min": 0,
                "max": 100,
                "step": 1,
                "default": 25
            },
            {
                "type": "range",
                "id": "margin_bottom_tab",
                "label": "Tablet",
                "min": 0,
                "max": 100,
                "step": 1,
                "default": 35
            },             
            {
                "type": "range",
                "id": "margin_bottom",
                "label": "Desktop",
                "min": 0,
                "max": 100,
                "step": 1,
                "default": 35
            },  
            {
                "type": "header",
                "content": "Header"
            },
            {
                "type": "text",
                "id": "spotlight_block_title",
                "label": "Title",
                "default": "#Featured On Ella"
            },
            {
                "type" : "textarea",
                "id" : "spotlight_block_des",
                "label" : "Description"
            },
            {
                "type": "select",
                "id": "title_style",
                "label": "Title Style:",
                "options": [
                    {
                        "value": "style_1",
                        "label": "Style 1" 
                    },
                    { 
                        "value": "style_2",
                        "label": "Style 2" 
                    }          
                ],
                "default": "style_1"
            }     
        ],
        "blocks": [
            {
                "type": "image",
                "name": "Image",
                "settings": [
                {
                    "type" : "color",
                    "id" : "bg_color_column",
                    "label" : "Background Color Column",
                    "info" : "Use for layout style 2"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type" : "text",
                    "id" : "title",
                    "label" : "Title",
                    "default" : "Lorem De Dorus"
                },
                {
                    "type" : "textarea",
                    "id" : "des",
                    "label" : "Descriptions",
                    "default" : "Nullam aliquet vestibulum augue non varius. Cras cosmo congue an melitos. Duis tristique del ante le maliquam. Praesent murna de tellus laoreet cosmopolis."
                },
                {
                    "type" : "text",
                    "id" : "button",
                    "label" : "Button",
                    "default" : "Shop Now"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link",
                    "info": "To activate 'Ask an expert' form, please use this link: #contact-us"
                },
                {
                    "type" : "color",
                    "id" : "color_button",
                    "label" : "Color Button",
                    "info" : "Use for layout style 2"
                }
                ]
            }
        ],
        "presets": [
            {
                "name": "Custom Block: Spotlight",
                "category": "Advanced layout",
                "blocks": [
                {
                    "type": "image"
                },
                {
                    "type": "image"
                },
                {
                    "type": "image"
                }
                ]
            }
        ]
    }
{% endschema %}