{% if section.settings.display %}
<div class="home-custom-block" id="custom-block-{{section.id}}">
    <div class="custom-block-banner banner-large-img">
        <div class="img-box">
            {% if section.settings.image != blank %}
            {%- assign preview_img = section.settings.image -%}
            <a href="{{ section.settings.link }}" {% if section.settings.video_link != blank %}data-load-video{% endif %} class="adaptive_height" style="padding-top: {{ 1 | divided_by: preview_img.aspect_ratio | times: 100 }}%">
                {%- assign img_url = section.settings.image | img_url: '1920x' -%}
                <img data-srcset="{{ img_url }}" alt="{{ section.settings.image.alt | default: shop.name }}" class="lazyload" data-sizes="auto"> 
                {% if section.settings.video_link != blank %}
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <path style="fill:transparent;" d="M256,20C125.872,20,20,125.872,20,256s105.872,236,236,236s236-105.872,236-236S386.128,20,256,20z   M156.64,387.712V124.288l246.72,131.72L156.64,387.712z"></path>
                    <path d="M512,256C512,114.616,397.384,0,256,0S0,114.616,0,256s114.616,256,256,256S512,397.384,512,256z   M256,492C125.872,492,20,386.128,20,256S125.872,20,256,20s236,105.872,236,236S386.128,492,256,492z"></path>
                    <polygon points="156.64,387.712 403.36,256.008 156.64,124.288 "></polygon><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                </svg>
                {% endif %}                  
            </a>
            {% if section.settings.video_link != blank %}
            <div class="fluid-width-video-wrapper" style="display: none;padding-top: {{ 1 | divided_by: preview_img.aspect_ratio | times: 100 }}%">
                {% if section.settings.video_type == 'mp4' %}
                    <video class="video" muted playsinline preload="none" autoplay loop>
                        <source type="video/mp4" src="{{ section.settings.video_link }}">
                    </video>
                {% else %}
                    <iframe class="youtube-player" id="player_youtube" width="100%" height="100%" data-video-id="{{ section.settings.video_link }}" src="https://www.youtube.com/embed/{{ section.settings.video_link }}?enablejsapi=1&rel=0&autoplay=0&mute=1&controls=0" frameborder="0" allowfullscreen=""></iframe>
                {% endif %}
                {% if section.settings.video_link != blank %}
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <path style="fill:transparent;" d="M256,20C125.872,20,20,125.872,20,256s105.872,236,236,236s236-105.872,236-236S386.128,20,256,20z   M156.64,387.712V124.288l246.72,131.72L156.64,387.712z"></path>
                    <path d="M512,256C512,114.616,397.384,0,256,0S0,114.616,0,256s114.616,256,256,256S512,397.384,512,256z   M256,492C125.872,492,20,386.128,20,256S125.872,20,256,20s236,105.872,236,236S386.128,492,256,492z"></path>
                    <polygon points="156.64,387.712 403.36,256.008 156.64,124.288 "></polygon><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                {% endif %}       
            </div>  
            {% endif %} 
            {% else %}
            <a href="{{ section.settings.link }}">
                <div class="not_img">
                    1770 x 585px
                </div>
            </a>
            {% endif %} 
        </div>
    
        {% if section.settings.banner_heading != blank or section.settings.banner_des != blank or section.settings.banner_button != blank %}
        <div class="banner-content inner {% if section.settings.alignment == 'left' %}abs_left{% elsif section.settings.alignment == 'right' %}abs_right{% else %}abs_center{% endif %}">

            {% if section.settings.banner_heading_sub != blank %}
            <h3 class="banner-sub-heading">
                {{ section.settings.banner_heading_sub }}
            </h3>
            {% endif %}

            {% if section.settings.banner_heading != blank %}
            <h2 class="banner-heading">
                {{ section.settings.banner_heading }}
            </h2>
            {% endif %}

            {% if section.settings.banner_des != blank %}
            <p class="banner-des">
                {{ section.settings.banner_des }}
            </p>
            {% endif %}

            {% if section.settings.banner_button != blank %}
            <a href="{{ section.settings.link }}" class="banner-button btn">
                {{ section.settings.banner_button }}
            </a>
            {% endif %}
        </div>
        {% endif %}  
    </div>
</div>
<style>
    {% if section.settings.banner_heading_sub != blank %}
    .home-custom-block .banner-sub-heading {
        {% if section.settings.font_size_banner_heading_sub != blank %}
        font-size: {{ section.settings.font_size_banner_heading_sub }} !important;
        {% endif %}
        {% if section.settings.color_banner_heading_sub != blank %}
        color:{{ section.settings.color_banner_heading_sub }};
        {% endif %}
        text-transform: uppercase;
    }
    {% endif %}
    {% if section.settings.banner_heading != blank %}
    .home-custom-block .banner-heading {
        {% if section.settings.font_size_banner_heading != blank %}
        font-size: {{ section.settings.font_size_banner_heading }};
        {% endif %}
        {% if section.settings.color_banner_heading != blank %}
        color:{{ section.settings.color_banner_heading }};
        {% endif %}
    }
    {% endif %}
    {% if section.settings.banner_des != blank %}
    .home-custom-block .banner-des {
        {% if section.settings.font_size_banner_des != blank %}
        font-size: {{ section.settings.font_size_banner_des }};
        {% endif %}
        {% if section.settings.color_banner_des != blank %}
        color: {{ section.settings.color_banner_des }};
        {% endif %}
    }
    {% endif %}
    {% if section.settings.banner_button != blank %}
    .home-custom-block .banner-button {
        {% if section.settings.bg_banner_button != blank %}
        background-color:{{ section.settings.bg_banner_button }};
        {% endif %}
        {% if section.settings.border_banner_button != blank %}
        border-color:{{ section.settings.border_banner_button }};
        {% endif %}
        {% if section.settings.color_banner_button != blank %}
        color:{{ section.settings.color_banner_button }};
        {% endif %}
        {% if section.settings.min_width_banner_button != blank %}
        min-width:{{ section.settings.min_width_banner_button }};
        {% endif %}
    }
    .banner-large-img .banner-content .banner-button:hover {
        color: {{ section.settings.color_banner_button_hover }} !important;
        background-color: {{ section.settings.bg_banner_button_hover }} !important;
        border-color: {{ section.settings.border_banner_button_hover }} !important;
    }
    {% endif %}
</style>
{% endif %}
{% if section.settings.enable_policy %}
<div class="policies-block">
  <div class="bg-policies-block">
      <div class="row policies-slider"">      
        {% for block in section.blocks %}
        {% unless settings.layout_style == 'layout_style_fullwidth' %}
            {% case section.blocks.size %}
            {% when 1 %}
            {%- assign column_size = 'col-12' -%}
            {% when 2 %}
            {%- assign column_size = 'col-12 col-md-6' -%}
            {% when 3 %}
            {%- assign column_size = 'col-12 col-md-6 col-lg-4' -%}
            {% when 4 %}
            {%- assign column_size = 'col-12 col-md-6 col-lg-4 col-xl-3' -%}
            {% endcase %}
        {% endunless %}

        <div class="policy-item {{ column_size }}">
            {% if block.settings.icon != blank %}
            <span class="policy-icon">
              {{ block.settings.icon }}
            </span>
            {% endif %}

            <span class="policy-text">
                <span>{{ block.settings.text }}</span>
                <p>
                    {{ block.settings.text_des }}
                </p>   
            </span>
        </div>
        
        {% endfor %}
      </div>
    </div>    
</div>
{% endif %}

{% schema %}
  {
    "name": "Product Banner + Policy",
    "class": "product-banner-sections col-12",
    "max_blocks": 4,
    "settings": [
        {
            "type": "checkbox",
            "id": "display",
            "label": "Enable?",
            "default": true
        },
        {
            "type": "select",
            "id": "alignment",
            "label": "Align:",
            "default": "center",
            "options": [
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "left",
                    "label": "Left"
                },              
                {
                    "value": "right",
                    "label": "Right"
                }
            ]
        }, 
        {
            "type": "image_picker",
            "id": "image",
            "label" : "Select Image"
        },
        {
            "type" : "radio",
            "id" : "video_type",
            "label" : "Video type",
            "options": [
                {
                    "value": "youtube",
                    "label": "Youtube"
                },
                {
                    "value": "mp4",
                    "label": "Mp4"
                }
            ],
            "default": "mp4"
        },
        {
            "type": "text",
            "id": "video_link",
            "label": "Video Link & YouTube video ID",
            "info": "[Find your YouTube video ID](https://www.youtube.com/watch?v=liJVSwOiiwg)."
        },
        {
            "type": "header",
            "content": "Banner Content"
        },
        {
            "type" : "text",
            "id" : "banner_heading",
            "label" : "Banner Heading",
            "default" : "Metropolis"
        },
        {
            "type" : "text",
            "id" : "font_size_banner_heading",
            "label" : "Heading Font Size ",
            "default" : "20px"
        },
        {
            "type" : "color",
            "id" : "color_banner_heading",
            "label" : "Heading Color",
            "default" : "#232323"
        },
        {
            "type" : "text",
            "id" : "banner_heading_sub",
            "label" : "Banner Sub Heading"
        },
        {
            "type" : "text",
            "id" : "font_size_banner_heading_sub",
            "label" : "Sub Heading Font Size ",
            "default" : "14px"
        },
        {
            "type" : "color",
            "id" : "color_banner_heading_sub",
            "label" : "Sub Heading Color",
            "default" : "#232323"
        },
        {
            "type" : "textarea",
            "id" : "banner_des",
            "label" : "Banner Description",
            "default": "Pellentesque posuere orci lobortis scelerisque blandit. Donec id tellus lacinia an tincidunt risus an consequat delit quisquemos."
        },
        {
            "type" : "text",
            "id" : "font_size_banner_des",
            "label" : "Description Font Size",
            "default" : "12px"
        },
        {
            "type" : "color",
            "id" : "color_banner_des",
            "label" : "Description Color",
            "default" : "#232323"
        },
        {
            "type" : "text",
            "id" : "banner_button",
            "label" : "Button Banner",
            "default" : "Shop Now"
        },
        {
            "type" : "url",
            "id" : "link",
            "label" : "Banner Link"
        },
        {
            "type" : "color",
            "id" : "bg_banner_button",
            "label" : "Background Button",
            "default" : "#fff"
        },
        {
            "type" : "color",
            "id" : "border_banner_button",
            "label" : "Border Button",
            "default" : "#5a5a5a"
        },
        {
            "type" : "color",
            "id" : "color_banner_button",
            "label" : "Button Color",
            "default" : "#232323"
        },
        {
            "type" : "color",
            "id" : "bg_banner_button_hover",
            "label" : "Background Button Hover"
        },
        {
            "type" : "color",
            "id" : "border_banner_button_hover",
            "label" : "Border Button Hover"
        },
        {
            "type" : "color",
            "id" : "color_banner_button_hover",
            "label" : "Button Color Hover"
        },
        {
            "type" : "header",
            "content" : "Policy"
        },
        {
            "type": "checkbox",
            "id": "enable_policy",
            "label": "Enable?",
            "default": true
        }
    ],
    "blocks" : [
        {
            "type" : "Text",
            "name" : "Text",
            "settings":[
                {
                    "type": "text",
                    "id" : "icon",
                    "label" : "Icon",
                    "info" : "[Find your Icon](https://fontawesome.com/v4.7.0/icons/)."
                },
                {
                    "type" : "text",
                    "id" : "text",
                    "label" : "text",
                    "default" : "Free Shipping on all orders *"
                },
                {
                    "type" : "text",
                    "id" : "text_des",
                    "label" : "Description"
                }
            ]
        }
    ]
  }
{% endschema %}